# MariaDB SQL

## Administrative SQL Statements 

Documentação oficial MariaDB: https://mariadb.com/kb/en/about-show/

### Show databases

In [1]:
SHOW databases;

Database
information_schema
movielens
taxis

### Use

In [2]:
USE movielens;

### Show tables

In [3]:
SHOW tables;

Tables_in_movielens
genres
genres_movies
movies
occupations
ratings
users

O modificador `FULL` retorna uma segunda coluna `Table_type`. Os valores desta coluna podem ser: `BASE TABLE` para uma tabela, `VIEW` para uma view ou `SEQUENCE` para uma sequência.

In [4]:
SHOW FULL TABLES;

Tables_in_movielens,Table_type
genres,BASE TABLE
genres_movies,BASE TABLE
movies,BASE TABLE
occupations,BASE TABLE
ratings,BASE TABLE
users,BASE TABLE

In [5]:
SHOW FULL TABLES WHERE Tables_in_movielens LIKE 'g%';

Tables_in_movielens,Table_type
genres,BASE TABLE
genres_movies,BASE TABLE

In [6]:
SHOW TABLE STATUS;

Name,Engine,Version,Row_format,Rows,Avg_row_length,Data_length,Max_data_length,Index_length,Data_free,Auto_increment,Create_time,Update_time,Check_time,Collation,Checksum,Create_options,Comment,Max_index_length,Temporary
genres,InnoDB,10,Dynamic,18,910,16384,0,0,0,NULL,2021-07-03 01:35:32,2021-07-03 01:35:32,NULL,latin1_swedish_ci,NULL,,,0,N
genres_movies,InnoDB,10,Dynamic,3165,41,131072,0,0,0,NULL,2021-07-03 01:35:32,2021-07-03 01:35:32,NULL,latin1_swedish_ci,NULL,,,0,N
movies,InnoDB,10,Dynamic,1637,80,131072,0,0,0,NULL,2021-07-03 01:35:31,2021-07-03 01:35:32,NULL,latin1_swedish_ci,NULL,,,0,N
occupations,InnoDB,10,Dynamic,21,780,16384,0,0,0,NULL,2021-07-03 01:35:31,2021-07-03 01:35:31,NULL,latin1_swedish_ci,NULL,,,0,N
ratings,InnoDB,10,Dynamic,100489,47,4734976,0,0,4194304,NULL,2021-07-03 01:35:31,2021-07-03 01:35:31,NULL,latin1_swedish_ci,NULL,,,0,N
users,InnoDB,10,Dynamic,1054,62,65536,0,0,0,NULL,2021-07-03 01:35:31,2021-07-03 01:35:31,NULL,latin1_swedish_ci,NULL,,,0,N

### Show create table

In [7]:
SHOW CREATE table ratings;

Table,Create Table
ratings,"CREATE TABLE `ratings` ( `id` int(11) NOT NULL, `user_id` int(11) DEFAULT NULL, `movie_id` int(11) DEFAULT NULL, `rating` int(11) DEFAULT NULL, `rated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(), PRIMARY KEY (`id`) ) ENGINE=InnoDB DEFAULT CHARSET=latin1"

### Data Definition - Databases

#### Create Database

**Exemplo dos Táxis**

<img src="../../resources/images/TaxiER.png" width="1000px">

Baseado no exemplo criado por prof. Geovane Cayres Magalhães http://www.ic.unicamp.br/~geovane/mo410-091/caso.html

In [8]:
CREATE database if NOT exists taxis;

In [9]:
show databases;

Database
information_schema
movielens
taxis

#### Drop Database

In [ ]:
DROP database if exists taxis;

In [ ]:
show databases;

In [ ]:
CREATE database if NOT exists taxis;
USE taxis;

### Data Definition - Tables

#### Create Table

In [ ]:
SHOW tables;

In [ ]:
CREATE TABLE Taxi (
  Placa VARCHAR(7) NOT NULL,
  Marca VARCHAR(30) NOT NULL,
  Modelo VARCHAR(30) NOT NULL,
  AnoFab INTEGER,
  Licenca VARCHAR(9),
  PRIMARY KEY(Placa)
);

In [ ]:
SHOW tables;

In [ ]:
CREATE TABLE IF NOT EXISTS Taxi (
  Placa VARCHAR(7) NOT NULL,
  Marca VARCHAR(30) NOT NULL,
  Modelo VARCHAR(30) NOT NULL,
  AnoFab INTEGER,
  Licenca VARCHAR(9),
  PRIMARY KEY(Placa)
);

CREATE TABLE Cliente (
  CliId VARCHAR(4) NOT NULL,
  Nome VARCHAR(80) NOT NULL,
  CPF VARCHAR(14) NOT NULL,
  PRIMARY KEY(CliId)
);

CREATE TABLE Corrida (
  CliId VARCHAR(4) NOT NULL,
  Placa VARCHAR(7) NOT NULL,
  DataPedido DATE NOT NULL,
  PRIMARY KEY(CliId, Placa, DataPedido),
  FOREIGN KEY(CliId)
    REFERENCES Cliente(CliId)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION,
  FOREIGN KEY(Placa)
    REFERENCES Taxi(Placa)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION
);

In [ ]:
SHOW tables;

#### Rename Table

In [ ]:
RENAME TABLE Cliente TO Cliente_new;

In [ ]:
SHOW tables;

#### Alter Table

In [ ]:
SHOW COLUMNS FROM Cliente_new;

In [ ]:
ALTER TABLE Cliente_new ADD Rg INT;

In [ ]:
SHOW COLUMNS FROM Cliente_new;

In [ ]:
ALTER TABLE Cliente_new MODIFY Rg BIGINT;

In [ ]:
SHOW COLUMNS FROM Cliente_new;

In [ ]:
ALTER TABLE Cliente_new DROP Rg;

In [ ]:
SHOW COLUMNS FROM Cliente_new;

#### Drop Table

Erro por motivo de relação com outras tabelas (chave estrangeira)

In [ ]:
DROP TABLE IF EXISTS Cliente_new;

In [ ]:
DROP TABLE IF EXISTS Corrida;
DROP TABLE IF EXISTS Taxi;
DROP TABLE IF EXISTS Cliente_new;

In [ ]:
CREATE TABLE IF NOT EXISTS Taxi (
  Placa VARCHAR(7) NOT NULL,
  Marca VARCHAR(30) NOT NULL,
  Modelo VARCHAR(30) NOT NULL,
  AnoFab INTEGER,
  Licenca VARCHAR(9),
  PRIMARY KEY(Placa)
);

CREATE TABLE Cliente (
  CliId VARCHAR(4) NOT NULL,
  Nome VARCHAR(80) NOT NULL,
  CPF VARCHAR(14) NOT NULL,
  PRIMARY KEY(CliId)
);

CREATE TABLE Corrida (
  CliId VARCHAR(4) NOT NULL,
  Placa VARCHAR(7) NOT NULL,
  DataPedido DATE NOT NULL,
  PRIMARY KEY(CliId, Placa, DataPedido),
  FOREIGN KEY(CliId)
    REFERENCES Cliente(CliId)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION,
  FOREIGN KEY(Placa)
    REFERENCES Taxi(Placa)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION
);

### Data Manipulation (CRUD)

#### Insert

In [ ]:
SHOW TABLE STATUS;

In [ ]:
INSERT INTO Cliente VALUES ('1532', 'Asdrúbal', '448.754.253-65');
INSERT INTO Cliente VALUES ('1755', 'Doriana', '567.387.387-44');
INSERT INTO Cliente VALUES ('1780', 'Quincas', '546.373.762-02');
INSERT INTO Cliente VALUES ('1888', 'Melissa', '123.456.789-10');

INSERT INTO Taxi VALUES ('DAE6534', 'Ford', 'Fiesta', 1999, 'MN572345');
INSERT INTO Taxi VALUES ('DKL4598', 'Wolkswagen', 'Gol', 2001, 'AU876543');
INSERT INTO Taxi VALUES ('DKL7878', 'Ford', 'Fiesta', 2001, 'OP102938');
INSERT INTO Taxi VALUES ('JDM8776', 'Wolkswagen', 'Santana', 2002, 'QM365923');
INSERT INTO Taxi VALUES ('JJM3692', 'Chevrolet', 'Corsa', 1999, 'UU335577');

INSERT INTO Corrida VALUES ('1755', 'DAE6534', '2003-02-15');
INSERT INTO Corrida VALUES ('1780', 'JDM8776', '2003-02-18');
INSERT INTO Corrida VALUES ('1755', 'DKL7878', '2003-02-16');
INSERT INTO Corrida VALUES ('1780', 'DKL4598', '2003-02-17');
INSERT INTO Corrida VALUES ('1532', 'DKL4598', '2003-02-18');
INSERT INTO Corrida VALUES ('1780', 'DAE6534', '2003-02-16');
INSERT INTO Corrida VALUES ('1755', 'DAE6534', '2003-02-18');
INSERT INTO Corrida VALUES ('1532', 'DKL4598', '2003-02-20');

In [ ]:
SHOW TABLE STATUS;

#### Select

##### Todos os Táxis com todos os atributos

In [ ]:
SELECT * FROM Taxi;

##### Taxis fabricados depois do ano 2000

In [ ]:
SELECT * FROM Taxi WHERE AnoFab > 2000;

#### Update

In [ ]:
SELECT * FROM Taxi;

In [ ]:
UPDATE Taxi T
       SET T.AnoFab = 2002
       WHERE T.Placa = 'DKL4598';

In [ ]:
SELECT * FROM Taxi;

#### Delete

##### Apagando o Táxi de placa `DAE6534`

In [ ]:
SELECT * FROM Corrida;

In [ ]:
DELETE FROM Corrida WHERE Corrida.Placa = "DAE6534";

In [ ]:
SELECT * FROM Corrida;

##### Violação de Integridade

Apagando um Táxi que possui corridas associadas

Este exemplo irá gerar um erro de violação de chave estrangeira.

In [ ]:
SELECT * FROM Taxi;

In [ ]:
DELETE FROM Taxi WHERE Taxi.Placa = 'DKL4598';

# SELECT Básico

### Todos os Táxis com todos os atributos

In [14]:
SELECT * FROM Taxi;

Placa,Marca,Modelo,AnoFab,Licenca
DAE6534,Ford,Fiesta,1999,MN572345
DKL4598,Wolkswagen,Gol,2001,AU876543
DKL7878,Ford,Fiesta,2001,OP102938
JDM8776,Wolkswagen,Santana,2002,QM365923
JJM3692,Chevrolet,Corsa,1999,UU335577

### Marca e Modelo dos Taxis disponíveis

In [15]:
SELECT Marca, Modelo FROM Taxi;

Marca,Modelo
Ford,Fiesta
Wolkswagen,Gol
Ford,Fiesta
Wolkswagen,Santana
Chevrolet,Corsa

### Taxis fabricados depois do ano 2000

In [16]:
SELECT * FROM Taxi WHERE AnoFab > 2000;

Placa,Marca,Modelo,AnoFab,Licenca
DKL4598,Wolkswagen,Gol,2001,AU876543
DKL7878,Ford,Fiesta,2001,OP102938
JDM8776,Wolkswagen,Santana,2002,QM365923

### Placas que comecem com DK

In [17]:
SELECT * FROM Taxi WHERE placa LIKE 'DK%';

Placa,Marca,Modelo,AnoFab,Licenca
DKL4598,Wolkswagen,Gol,2001,AU876543
DKL7878,Ford,Fiesta,2001,OP102938

### Placas com '7' na penultima posicao

In [18]:
SELECT * FROM Taxi WHERE placa LIKE '%7_';

Placa,Marca,Modelo,AnoFab,Licenca
DKL7878,Ford,Fiesta,2001,OP102938
JDM8776,Wolkswagen,Santana,2002,QM365923

# Produto Cartesiano

### Produto Cartesiano entre Clientes e Corridas

In [19]:
SELECT Cliente.CliId, Cliente.Nome, Corrida.Placa, Corrida.DataPedido
FROM Cliente, Corrida;

CliId,Nome,Placa,DataPedido
1532,Asdrúbal,DKL4598,2003-02-18
1755,Doriana,DKL4598,2003-02-18
1780,Quincas,DKL4598,2003-02-18
1888,Melissa,DKL4598,2003-02-18
1532,Asdrúbal,DKL4598,2003-02-20
1755,Doriana,DKL4598,2003-02-20
1780,Quincas,DKL4598,2003-02-20
1888,Melissa,DKL4598,2003-02-20
1532,Asdrúbal,DAE6534,2003-02-15
1755,Doriana,DAE6534,2003-02-15
1780,Quincas,DAE6534,2003-02-15
1888,Melissa,DAE6534,2003-02-15
1532,Asdrúbal,DAE6534,2003-02-18
1755,Doriana,DAE6534,2003-02-18
1780,Quincas,DAE6534,2003-02-18
1888,Melissa,DAE6534,2003-02-18
1532,Asdrúbal,DKL7878,2003-02-16
1755,Doriana,DKL7878,2003-02-16
1780,Quincas,DKL7878,2003-02-16
1888,Melissa,DKL7878,2003-02-16
1532,Asdrúbal,DAE6534,2003-02-16
1755,Doriana,DAE6534,2003-02-16
1780,Quincas,DAE6534,2003-02-16
1888,Melissa,DAE6534,2003-02-16
1532,Asdrúbal,DKL4598,2003-02-17
1755,Doriana,DKL4598,2003-02-17
1780,Quincas,DKL4598,2003-02-17
1888,Melissa,DKL4598,2003-02-17
1532,Asdrúbal,JDM8776,2003-02-18
1755,Doriana,JDM8776,2003-02-18
1780,Quincas,JDM8776,2003-02-18
1888,Melissa,JDM8776,2003-02-18

# JOIN Implícito

### Cientes e as respectivas corridas - Join Implícito

In [20]:
SELECT Cliente.CliId, Cliente.Nome, Corrida.Placa, Corrida.DataPedido
FROM Cliente, Corrida
WHERE Cliente.CliId = Corrida.CliId;

CliId,Nome,Placa,DataPedido
1532,Asdrúbal,DKL4598,2003-02-18
1532,Asdrúbal,DKL4598,2003-02-20
1755,Doriana,DAE6534,2003-02-15
1755,Doriana,DAE6534,2003-02-18
1755,Doriana,DKL7878,2003-02-16
1780,Quincas,DAE6534,2003-02-16
1780,Quincas,DKL4598,2003-02-17
1780,Quincas,JDM8776,2003-02-18

### Modelo de taxi para cada corrida

In [21]:
SELECT Corrida.DataPedido, Corrida.Placa, Taxi.Modelo
       FROM Corrida, Taxi
       WHERE Corrida.Placa = Taxi.Placa;

DataPedido,Placa,Modelo
2003-02-15,DAE6534,Fiesta
2003-02-18,DAE6534,Fiesta
2003-02-16,DAE6534,Fiesta
2003-02-18,DKL4598,Gol
2003-02-20,DKL4598,Gol
2003-02-17,DKL4598,Gol
2003-02-16,DKL7878,Fiesta
2003-02-18,JDM8776,Santana

### Modelos de Táxi por Cliente (estágio 1)

In [22]:
SELECT Cliente.Nome, Corrida.DataPedido, Corrida.Placa, Taxi.Modelo
       FROM Cliente, Corrida, Taxi
       WHERE Cliente.CliId = Corrida.CliId AND Corrida.Placa = Taxi.Placa;

Nome,DataPedido,Placa,Modelo
Asdrúbal,2003-02-18,DKL4598,Gol
Asdrúbal,2003-02-20,DKL4598,Gol
Doriana,2003-02-15,DAE6534,Fiesta
Doriana,2003-02-18,DAE6534,Fiesta
Doriana,2003-02-16,DKL7878,Fiesta
Quincas,2003-02-16,DAE6534,Fiesta
Quincas,2003-02-17,DKL4598,Gol
Quincas,2003-02-18,JDM8776,Santana

### Modelos de Táxi por Cliente (estágio 2)

In [23]:
SELECT DISTINCT Cliente.Nome, Taxi.Modelo
       FROM Cliente, Corrida, Taxi
       WHERE Cliente.CliId = Corrida.CliId AND Corrida.Placa = Taxi.Placa;

Nome,Modelo
Asdrúbal,Gol
Doriana,Fiesta
Quincas,Fiesta
Quincas,Gol
Quincas,Santana

## ORDER BY

### Nome dos clientes ordenado alfabeticamente

In [24]:
SELECT Nome
       FROM Cliente
       ORDER BY Nome;

Nome
Asdrúbal
Doriana
Melissa
Quincas

### Modelos de taxi e os clientes que os tomaram

Ordena por Modelo, mas não por Cliente:

In [25]:
SELECT DISTINCT Cl.Nome, T.Modelo
       FROM Cliente Cl, Corrida Co, Taxi T
       WHERE Cl.CliId = Co.CliId AND
             Co.Placa = T.Placa
       ORDER BY T.Modelo;

Nome,Modelo
Quincas,Fiesta
Doriana,Fiesta
Asdrúbal,Gol
Quincas,Gol
Quincas,Santana

Ordena por Modelo e, para cada Modelo, por Cliente:

In [26]:
SELECT DISTINCT Cl.Nome, T.Modelo
       FROM Cliente Cl, Corrida Co, Taxi T
       WHERE Cl.CliId = Co.CliId AND
             Co.Placa = T.Placa
       ORDER BY T.Modelo, Cl.Nome;

Nome,Modelo
Doriana,Fiesta
Quincas,Fiesta
Asdrúbal,Gol
Quincas,Gol
Quincas,Santana

### Cliente e os modelos de taxi tomados
Ordena por Cliente, mas não por Modelo:

In [27]:
SELECT DISTINCT Cl.Nome, T.Modelo
       FROM Cliente Cl, Corrida Co, Taxi T
       WHERE Cl.CliId = Co.CliId AND
             Co.Placa = T.Placa
       ORDER BY Cl.Nome;

Nome,Modelo
Asdrúbal,Gol
Doriana,Fiesta
Quincas,Fiesta
Quincas,Gol
Quincas,Santana

Ordena por Cliente e, para cada Cliente, por Modelo

In [28]:
SELECT DISTINCT Cl.Nome, T.Modelo
       FROM Cliente Cl, Corrida Co, Taxi T
       WHERE Cl.CliId = Co.CliId AND
             Co.Placa = T.Placa
       ORDER BY Cl.Nome, T.Modelo;

Nome,Modelo
Asdrúbal,Gol
Doriana,Fiesta
Quincas,Fiesta
Quincas,Gol
Quincas,Santana

## JOIN explícito

### Taxis e respectivas corridas (para taxis que fizeram corrida)

In [29]:
SELECT Tx.placa, Co.cliid
       FROM Taxi Tx JOIN Corrida Co
            ON Tx.placa = Co.placa;

placa,cliid
DAE6534,1755
DAE6534,1755
DAE6534,1780
DKL4598,1532
DKL4598,1532
DKL4598,1780
DKL7878,1755
JDM8776,1780

## NATURAL JOIN

In [30]:
SELECT Tx.placa, Co.cliid
       FROM Taxi Tx
            NATURAL JOIN Corrida Co;

placa,cliid
DAE6534,1755
DAE6534,1755
DAE6534,1780
DKL4598,1532
DKL4598,1532
DKL4598,1780
DKL7878,1755
JDM8776,1780

## LEFT JOIN

### Taxis e respectivas corridas (para todos os taxis)

In [31]:
SELECT Tx.placa, Co.cliid
       FROM Taxi Tx LEFT JOIN Corrida Co
            ON Tx.placa = Co.placa;

placa,cliid
DAE6534,1755
DAE6534,1755
DAE6534,1780
DKL4598,1532
DKL4598,1532
DKL4598,1780
DKL7878,1755
JDM8776,1780
JJM3692,NULL

## RIGHT JOIN

### Corridas e respectivos clientes (para todos os clientes)

In [32]:
SELECT Co.placa, Cl.nome
       FROM Corrida Co RIGHT JOIN Cliente Cl
            ON Co.cliid = Cl.cliid;

placa,nome
DKL4598,Asdrúbal
DKL4598,Asdrúbal
DAE6534,Doriana
DAE6534,Doriana
DKL7878,Doriana
DAE6534,Quincas
DKL4598,Quincas
JDM8776,Quincas
NULL,Melissa

# DELETE

### Apagando o Táxi de placa `DAE6534`

In [53]:
SELECT * FROM Corrida;

CliId,Placa,DataPedido
1532,DKL4598,2003-02-18
1532,DKL4598,2003-02-20
1755,DAE6534,2003-02-15
1755,DAE6534,2003-02-18
1755,DKL7878,2003-02-16
1780,DAE6534,2003-02-16
1780,DKL4598,2003-02-17
1780,JDM8776,2003-02-18

In [57]:
DELETE FROM Corrida WHERE Corrida.Placa = "DAE6534";
SELECT * FROM Corrida;

CliId,Placa,DataPedido
1532,DKL4598,2003-02-18
1532,DKL4598,2003-02-20
1755,DKL7878,2003-02-16
1780,DKL4598,2003-02-17
1780,JDM8776,2003-02-18

## Violação de Integridade

### Apagando um Táxi que possui corridas associadas

Este exemplo irá gerar um erro de violação de chave estrangeira.

In [58]:
SELECT * FROM Taxi;

Placa,Marca,Modelo,AnoFab,Licenca
DAE6534,Ford,Fiesta,1999,MN572345
DKL4598,Wolkswagen,Gol,2002,AU876543
DKL7878,Ford,Fiesta,2001,OP102938
JDM8776,Wolkswagen,Santana,2002,QM365923
JJM3692,Chevrolet,Corsa,1999,UU335577
KMN3412,Chevrolet,Corsa,2001,QJ572345

In [59]:
DELETE FROM Taxi WHERE Taxi.Placa = 'DKL4598';

Cannot delete or update a parent row: a foreign key constraint fails (`taxis`.`Corrida`, CONSTRAINT `Corrida_ibfk_2` FOREIGN KEY (`Placa`) REFERENCES `Taxi` (`Placa`) ON DELETE NO ACTION ON UPDATE NO ACTION)
(B(B

# UPDATE

### Alterando o ano de fabricação (para 2002) do Táxi que possui placa `DKL4598`

In [36]:
SELECT * FROM Taxi ORDER BY Placa;
UPDATE Taxi T
       SET T.AnoFab = 2002
       WHERE T.Placa = 'DKL4598';
SELECT * FROM Taxi ORDER BY Placa;

Placa,Marca,Modelo,AnoFab,Licenca
DAE6534,Ford,Fiesta,1999,MN572345
DKL4598,Wolkswagen,Gol,2001,AU876543
DKL7878,Ford,Fiesta,2001,OP102938
JDM8776,Wolkswagen,Santana,2002,QM365923
JJM3692,Chevrolet,Corsa,1999,UU335577
Placa,Marca,Modelo,AnoFab,Licenca
DAE6534,Ford,Fiesta,1999,MN572345
DKL4598,Wolkswagen,Gol,2002,AU876543
DKL7878,Ford,Fiesta,2001,OP102938
JDM8776,Wolkswagen,Santana,2002,QM365923
JJM3692,Chevrolet,Corsa,1999,UU335577

# GROUP BY

### Modelos de Táxi cadastrados

In [37]:
SELECT T.Modelo
       FROM Taxi T
       GROUP BY T.Modelo;

Modelo
Corsa
Fiesta
Gol
Santana

### Total de Táxis por Modelo

Modelos de Táxi cadastrados e quantos táxis há em cada modelo:

In [38]:
SELECT T.Modelo, COUNT(*)
       FROM Taxi T
       GROUP BY T.Modelo;

Modelo,COUNT(*)
Corsa,1
Fiesta,2
Gol,1
Santana,1

## Agregando em mais de um nível

### Modelos de taxi tomados por cada cliente (agrupando por Cliente e por Modelo)

In [39]:
SELECT Cl.Nome, T.Modelo, COUNT(*)
       FROM Cliente Cl, Corrida Co, Taxi T 
       WHERE Cl.CliId = Co.CliId AND 
             Co.Placa = T.Placa
       GROUP BY Cl.Nome, T.Modelo;

Nome,Modelo,COUNT(*)
Asdrúbal,Gol,2
Doriana,Fiesta,3
Quincas,Fiesta,1
Quincas,Gol,1
Quincas,Santana,1

## Funções de agregação sem agrupamento

### Média de ano de fabricação para todos os Táxis

Quando é usada função de agregação sem especificação de agrupamento, toda a tabela é agregada como se fosse um único grupo.

In [40]:
-- Tabela completa
SELECT AnoFab FROM Taxi;

-- Media do ano de fabricação de toda a tabela
SELECT MAX(AnoFab) FROM Taxi;

AnoFab
1999
2002
2001
2002
1999
MAX(AnoFab)
2002

## Campos mostrados devem corresponder a agregação

Exemplo sem agregação:

In [41]:
SELECT Modelo, AnoFab
       FROM Taxi;

Modelo,AnoFab
Fiesta,1999
Gol,2002
Fiesta,2001
Santana,2002
Corsa,1999

### Modelo e Ano de Fabricação

Este exemplo com agregação produzirá um erro pois `AnoFab` (ano de fabricação) não foi agregado, portanto, pode haver mais de um ano de fabricação para o mesmo modelo.

In [42]:
SELECT Modelo, AnoFab
       FROM Taxi
       GROUP BY Modelo;

Modelo,AnoFab
Corsa,1999
Fiesta,1999
Gol,2002
Santana,2002

### Modelo e Maior Ano de Fabricação
#### Corrigindo com função de agregação

Este exemplo escolhe o maior ano para cada Modelo agregado.

In [43]:
SELECT Modelo, MAX(AnoFab)
       FROM Taxi
       GROUP BY Modelo;

Modelo,MAX(AnoFab)
Corsa,1999
Fiesta,2001
Gol,2002
Santana,2002

# HAVING

### Número de Táxis por Modelo somente para os Táxis com ano de fabricação acima de 2000

Exemplo com `WHERE` em que a condição é aplicada antes de se agregar:

In [44]:
-- Todos os Táxis
SELECT * FROM Taxi;

-- Selecionados e Agregados
SELECT Modelo, COUNT(*) NUM
       FROM Taxi
       WHERE AnoFab > 2000
       GROUP BY Modelo;

### Modelos de Táxi que têm mais de um Táxi do respectivo modelo

Exemplo com `HAVING` em que a condição é aplicada após se agregar:

In [45]:
-- Agrupamento
SELECT Modelo, COUNT(*) NUM
       FROM Taxi
       GROUP BY Modelo;

-- Agrupamento com HAVING
SELECT Modelo, COUNT(*) NUM
       FROM Taxi
       GROUP BY Modelo
       HAVING NUM > 1;

Modelo,NUM
Corsa,1
Fiesta,2
Gol,1
Santana,1
Modelo,NUM
Fiesta,2

## `HAVING` apenas para campos agregados 

### Modelos daqueles Táxis com ano de fabricação acima de 2000

A seleção a seguir produzirá um erro pois está se aplicando uma condição `HAVING` para um campo não agregado. Deveria ter sido usado `WHERE` como foi feito anteriormente.

In [46]:
SELECT Modelo, COUNT(*) NUM
       FROM Taxi
       GROUP BY Modelo
       HAVING AnoFab > 2000;

Unknown column 'AnoFab' in 'having clause'
(B(B

## Exemplo de `HAVING` com média

### Modelos de Táxi cujo maior Ano de Fabricação seja após 2000

In [47]:
SELECT Modelo, MAX(AnoFab) MaiorAno
       FROM Taxi
       GROUP BY Modelo
       HAVING MaiorAno > 2000;

Modelo,MaiorAno
Fiesta,2001
Gol,2002
Santana,2002

# VIEW

### Total de Táxis por Modelo

Agrupamento sem o uso de `VIEW`:

In [48]:
SELECT Modelo, COUNT(*) Numero_Taxis
       FROM taxi
       GROUP BY Modelo;

Table 'taxis.taxi' doesn't exist
(B(B

### Tabela de Total de Táxis por Modelo

Transformando o agrupamento na tabela `Contagem_Modelo` com o `VIEW`:

In [49]:
CREATE VIEW Contagem_Modelo AS
SELECT Modelo, COUNT(*) Numero_Taxis
       FROM taxi
       GROUP BY Modelo;

SELECT * FROM Contagem_Modelo;

Table 'taxis.taxi' doesn't exist
ERROR 1146 (42S02) at line 6 in file: '/home/matheus/local-home/git/github/org.thedatasociety/lab-mariadb/labs/.mariadb_statement': Table 'taxis.Contagem_Modelo' doesn't exist
(B(B(B(B

Usando a tabela criada com a `VIEW`:

In [50]:
SELECT AVG(Numero_Taxis) FROM Contagem_Modelo;

Table 'taxis.Contagem_Modelo' doesn't exist
(B(B

## VIEW se auto-atualiza

A view é um recorte dinâmico, ela se auto-atualiza quando a tabela original é modificada.

In [51]:
INSERT INTO Taxi VALUES ('KMN3412', 'Chevrolet', 'Corsa', 2001, 'QJ572345');
SELECT * FROM Contagem_Modelo;

Table 'taxis.Contagem_Modelo' doesn't exist
(B(B