# MariaDB SQL

## Comandos Administrativos

Documentação oficial MariaDB: https://mariadb.com/kb/en/about-show/

### Show databases

In [ ]:
SHOW databases;

### Use

In [ ]:
USE sakila;

Qual `database` você está usando na sessão:

In [ ]:
SELECT database();

In [ ]:
SELECT USER();

### Show variables

In [ ]:
-- SHOW VARIABLES;
SHOW VARIABLES WHERE Variable_name = 'port';

### Show tables

In [ ]:
SHOW tables;

O modificador `FULL` retorna uma segunda coluna `Table_type`. Os valores desta coluna podem ser: `BASE TABLE` para uma tabela, `VIEW` para uma view ou `SEQUENCE` para uma sequência.

In [ ]:
SHOW FULL TABLES;

In [ ]:
SHOW FULL TABLES WHERE Tables_in_movielens LIKE 'g%';

In [ ]:
SHOW TABLE STATUS;

### Show create table

In [ ]:
SHOW CREATE TABLE ratings;

In [ ]:
USE information_schema;

In [ ]:
SHOW FULL TABLES;

In [ ]:
select * from TABLES;

In [ ]:
SELECT * FROM COLUMNS
WHERE table_schema = 'movielens'
  AND   table_name = 'users';

### Data Definition - Databases

#### Create Database

In [ ]:
CREATE database if NOT exists taxis;

In [ ]:
show databases;

#### Drop Database

In [ ]:
DROP database if exists taxis;

In [ ]:
show databases;

In [ ]:
CREATE database if NOT exists taxis;
USE taxis;

### Data Definition - Tables

#### Create Table

**Exemplo dos Táxis**

<img src="../../resources/images/TaxiER.png" width="1000px">

Baseado no exemplo criado por prof. Geovane Cayres Magalhães http://www.ic.unicamp.br/~geovane/mo410-091/caso.html

In [ ]:
SHOW tables;

In [ ]:
CREATE TABLE Taxi (
  Placa VARCHAR(7) NOT NULL,
  Marca VARCHAR(30) NOT NULL,
  Modelo VARCHAR(30) NOT NULL,
  AnoFab INTEGER,
  Licenca VARCHAR(9),
  PRIMARY KEY(Placa)
);

In [ ]:
SHOW tables;

In [ ]:
CREATE TABLE IF NOT EXISTS Taxi (
  Placa VARCHAR(7) NOT NULL,
  Marca VARCHAR(30) NOT NULL,
  Modelo VARCHAR(30) NOT NULL,
  AnoFab INTEGER,
  Licenca VARCHAR(9),
  PRIMARY KEY(Placa)
);

In [ ]:
CREATE TABLE Cliente (
  CliId VARCHAR(4) NOT NULL,
  Nome VARCHAR(80) NOT NULL,
  CPF VARCHAR(14) NOT NULL,
  PRIMARY KEY(CliId)
);

CREATE TABLE Corrida (
  CliId VARCHAR(4) NOT NULL,
  Placa VARCHAR(7) NOT NULL,
  DataPedido DATE NOT NULL,
  PRIMARY KEY(CliId, Placa, DataPedido),
  FOREIGN KEY(CliId)
    REFERENCES Cliente(CliId)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION,
  FOREIGN KEY(Placa)
    REFERENCES Taxi(Placa)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION
);

In [ ]:
SHOW tables;

#### Rename Table

In [ ]:
RENAME TABLE Cliente TO Cliente_new;

In [ ]:
SHOW tables;

#### Alter Table

In [ ]:
SHOW COLUMNS FROM Cliente_new;

In [ ]:
ALTER TABLE Cliente_new ADD Rg INT;

In [ ]:
SHOW COLUMNS FROM Cliente_new;

In [ ]:
ALTER TABLE Cliente_new MODIFY Rg BIGINT;

In [ ]:
SHOW COLUMNS FROM Cliente_new;

In [ ]:
ALTER TABLE Cliente_new DROP Rg;

In [ ]:
SHOW COLUMNS FROM Cliente_new;

#### Drop Table

Erro por motivo de relação com outras tabelas (chave estrangeira)

In [ ]:
DROP TABLE IF EXISTS Cliente_new;

In [ ]:
DROP TABLE IF EXISTS Corrida;
DROP TABLE IF EXISTS Taxi;
DROP TABLE IF EXISTS Cliente_new;

In [ ]:
CREATE TABLE IF NOT EXISTS Taxi (
  Placa VARCHAR(7) NOT NULL,
  Marca VARCHAR(30) NOT NULL,
  Modelo VARCHAR(30) NOT NULL,
  AnoFab INTEGER,
  Licenca VARCHAR(9),
  PRIMARY KEY(Placa)
);

CREATE TABLE IF NOT EXISTS Cliente (
  CliId VARCHAR(4) NOT NULL,
  Nome VARCHAR(80) NOT NULL,
  CPF VARCHAR(14) NOT NULL,
  PRIMARY KEY(CliId)
);

CREATE TABLE IF NOT EXISTS Corrida (
  CliId VARCHAR(4) NOT NULL,
  Placa VARCHAR(7) NOT NULL,
  DataPedido DATE NOT NULL,
  PRIMARY KEY(CliId, Placa, DataPedido),
  FOREIGN KEY(CliId)
    REFERENCES Cliente(CliId)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION,
  FOREIGN KEY(Placa)
    REFERENCES Taxi(Placa)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION
);

### Data Manipulation (CRUD)

#### Insert

In [ ]:
SHOW TABLE STATUS;

In [ ]:
INSERT INTO Cliente VALUES ('1532', 'Asdrúbal', '448.754.253-65');
INSERT INTO Cliente VALUES ('1755', 'Doriana', '567.387.387-44');
INSERT INTO Cliente VALUES ('1780', 'Quincas', '546.373.762-02');
INSERT INTO Cliente VALUES ('1888', 'Melissa', '123.456.789-10');

INSERT INTO Taxi VALUES ('DAE6534', 'Ford', 'Fiesta', 1999, 'MN572345');
INSERT INTO Taxi VALUES ('DKL4598', 'Wolkswagen', 'Gol', 2001, 'AU876543');
INSERT INTO Taxi VALUES ('DKL7878', 'Ford', 'Fiesta', 2001, 'OP102938');
INSERT INTO Taxi VALUES ('JDM8776', 'Wolkswagen', 'Santana', 2002, 'QM365923');
INSERT INTO Taxi VALUES ('JJM3692', 'Chevrolet', 'Corsa', 1999, 'UU335577');

INSERT INTO Corrida VALUES ('1755', 'DAE6534', '2003-02-15');
INSERT INTO Corrida VALUES ('1780', 'JDM8776', '2003-02-18');
INSERT INTO Corrida VALUES ('1755', 'DKL7878', '2003-02-16');
INSERT INTO Corrida VALUES ('1780', 'DKL4598', '2003-02-17');
INSERT INTO Corrida VALUES ('1532', 'DKL4598', '2003-02-18');
INSERT INTO Corrida VALUES ('1780', 'DAE6534', '2003-02-16');
INSERT INTO Corrida VALUES ('1755', 'DAE6534', '2003-02-18');
INSERT INTO Corrida VALUES ('1532', 'DKL4598', '2003-02-20');

In [ ]:
SHOW TABLE STATUS;

#### Select

##### Todos os Táxis com todos os atributos

In [ ]:
SELECT * FROM Taxi;

##### Taxis fabricados depois do ano 2000

In [ ]:
SELECT * FROM Taxi WHERE AnoFab > 2000;

#### Update

In [ ]:
SELECT * FROM Taxi;

In [ ]:
UPDATE Taxi T
       SET T.AnoFab = 2002
       WHERE T.Placa = 'DKL4598';

In [ ]:
SELECT * FROM Taxi;

#### Delete

##### Apagando o Táxi de placa `DAE6534`

In [ ]:
SELECT * FROM Corrida;

In [ ]:
DELETE FROM Corrida WHERE Corrida.Placa = "DAE6534";

In [ ]:
SELECT * FROM Corrida;

##### Violação de Integridade

Apagando um Táxi que possui corridas associadas

Este exemplo irá gerar um erro de violação de chave estrangeira.

In [ ]:
SELECT * FROM Taxi;

In [ ]:
DELETE FROM Taxi WHERE Taxi.Placa = 'DKL4598';