# MariaDB SQL

## Administrative SQL Statements 

Documentação oficial MariaDB: https://mariadb.com/kb/en/about-show/

### Show databases

In [12]:
SHOW databases;

Database
acme-company
employees
information_schema
movielens
sakila
world

### Use

In [13]:
USE employees;

### Show tables

In [14]:
SHOW tables;

Tables_in_employees
current_dept_emp
departments
dept_emp
dept_emp_latest_date
dept_manager
employees
salaries
titles

O modificador `FULL` retorna uma segunda coluna `Table_type`. Os valores desta coluna podem ser: `BASE TABLE` para uma tabela, `VIEW` para uma view ou `SEQUENCE` para uma sequência.

In [15]:
SHOW FULL TABLES;

Tables_in_employees,Table_type
current_dept_emp,VIEW
departments,BASE TABLE
dept_emp,BASE TABLE
dept_emp_latest_date,VIEW
dept_manager,BASE TABLE
employees,BASE TABLE
salaries,BASE TABLE
titles,BASE TABLE

In [18]:
SHOW FULL TABLES WHERE Tables_in_employees LIKE 'd%';

Tables_in_employees,Table_type
departments,BASE TABLE
dept_emp,BASE TABLE
dept_emp_latest_date,VIEW
dept_manager,BASE TABLE

In [19]:
SHOW TABLE STATUS;

Name,Engine,Version,Row_format,Rows,Avg_row_length,Data_length,Max_data_length,Index_length,Data_free,Auto_increment,Create_time,Update_time,Check_time,Collation,Checksum,Create_options,Comment,Max_index_length,Temporary
current_dept_emp,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,VIEW,NULL,NULL
departments,InnoDB,10,Dynamic,9,1820,16384,0,16384,0,NULL,2021-07-10 03:35:27,2021-07-10 03:35:28,NULL,latin1_swedish_ci,NULL,,,0,N
dept_emp,InnoDB,10,Dynamic,332289,36,12075008,0,5783552,4194304,NULL,2021-07-10 03:35:28,2021-07-10 03:35:33,NULL,latin1_swedish_ci,NULL,,,0,N
dept_emp_latest_date,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,VIEW,NULL,NULL
dept_manager,InnoDB,10,Dynamic,24,682,16384,0,16384,0,NULL,2021-07-10 03:35:27,2021-07-10 03:35:33,NULL,latin1_swedish_ci,NULL,,,0,N
employees,InnoDB,10,Dynamic,300141,50,15220736,0,0,4194304,NULL,2021-07-10 03:35:27,2021-07-10 03:35:30,NULL,latin1_swedish_ci,NULL,,,0,N
salaries,InnoDB,10,Dynamic,2844513,35,100270080,0,0,4194304,NULL,2021-07-10 03:35:28,2021-07-10 03:35:55,NULL,latin1_swedish_ci,NULL,,,0,N
titles,InnoDB,10,Dynamic,443357,46,20512768,0,0,4194304,NULL,2021-07-10 03:35:28,2021-07-10 03:35:35,NULL,latin1_swedish_ci,NULL,,,0,N

### Show create table

In [20]:
SHOW CREATE TABLE salaries;

Table,Create Table
salaries,"CREATE TABLE `salaries` ( `emp_no` int(11) NOT NULL, `salary` int(11) NOT NULL, `from_date` date NOT NULL, `to_date` date NOT NULL, PRIMARY KEY (`emp_no`,`from_date`), CONSTRAINT `salaries_ibfk_1` FOREIGN KEY (`emp_no`) REFERENCES `employees` (`emp_no`) ON DELETE CASCADE ) ENGINE=InnoDB DEFAULT CHARSET=latin1"

### Data Definition - Databases

#### Create Database

**Exemplo dos Táxis**

<img src="../../resources/images/TaxiER.png" width="1000px">

Baseado no exemplo criado por prof. Geovane Cayres Magalhães http://www.ic.unicamp.br/~geovane/mo410-091/caso.html

In [24]:
CREATE database if NOT exists taxis;

In [25]:
USE taxis;

In [26]:
show tables;

In [22]:
show databases;

Database
acme-company
employees
information_schema
movielens
sakila
taxis
world

#### Drop Database

In [27]:
DROP database if exists taxis;

In [28]:
show databases;

Database
acme-company
employees
information_schema
movielens
sakila
world

In [29]:
CREATE database if NOT exists taxis;
USE taxis;

### Data Definition - Tables

#### Create Table

In [30]:
SHOW tables;

In [31]:
CREATE TABLE Taxi (
  Placa VARCHAR(7) NOT NULL,
  Marca VARCHAR(30) NOT NULL,
  Modelo VARCHAR(30) NOT NULL,
  AnoFab INTEGER,
  Licenca VARCHAR(9),
  PRIMARY KEY(Placa)
);

In [32]:
SHOW tables;

Tables_in_taxis
Taxi

##### Data types
<img src="https://www.mysqltutorial.org/wp-content/uploads/0211/03/MySQL-Data-Types.jpg" width="65%">

Indicando:
- Chave primária
- Tipos de dados e constraints (tamanho)
- Criar se não existir

In [35]:
CREATE TABLE IF NOT EXISTS Taxi (
  Placa VARCHAR(7) NOT NULL,
  Marca VARCHAR(30) NOT NULL,
  Modelo VARCHAR(30) NOT NULL,
  AnoFab INTEGER,
  Licenca VARCHAR(9),
  PRIMARY KEY(Placa)
);

CREATE TABLE IF NOT EXISTS Cliente (
  CliId VARCHAR(4) NOT NULL,
  Nome VARCHAR(80) NOT NULL,
  CPF VARCHAR(14) NOT NULL,
  PRIMARY KEY(CliId)
);

##### Chaves estrangeiras

Ações para chaves estrangeiras
- NO ACTION → impede a ação na tabela mestre <tabela_ref>
- CASCADE → propaga a ação da tabela mestre
- SET NULL → valores de referências alterados para nulo
- SET DEFAULT → valores de referências alterados para default

In [36]:
CREATE TABLE Corrida (
  CliId VARCHAR(4) NOT NULL,
  Placa VARCHAR(7) NOT NULL,
  DataPedido DATE NOT NULL,
  PRIMARY KEY(CliId, Placa, DataPedido),
  FOREIGN KEY(CliId)
    REFERENCES Cliente(CliId)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION,
  FOREIGN KEY(Placa)
    REFERENCES Taxi(Placa)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION
);

In [37]:
SHOW tables;

Tables_in_taxis
Cliente
Corrida
Taxi

In [38]:
SHOW TABLE STATUS;

Name,Engine,Version,Row_format,Rows,Avg_row_length,Data_length,Max_data_length,Index_length,Data_free,Auto_increment,Create_time,Update_time,Check_time,Collation,Checksum,Create_options,Comment,Max_index_length,Temporary
Cliente,InnoDB,10,Dynamic,0,0,16384,0,0,0,NULL,2021-07-10 04:27:29,NULL,NULL,latin1_swedish_ci,NULL,,,0,N
Corrida,InnoDB,10,Dynamic,0,0,16384,0,16384,0,NULL,2021-07-10 04:31:24,NULL,NULL,latin1_swedish_ci,NULL,,,0,N
Taxi,InnoDB,10,Dynamic,0,0,16384,0,0,0,NULL,2021-07-10 04:26:55,NULL,NULL,latin1_swedish_ci,NULL,,,0,N

In [40]:
SHOW CREATE TABLE Corrida;

Table,Create Table
Corrida,"CREATE TABLE `Corrida` ( `CliId` varchar(4) NOT NULL, `Placa` varchar(7) NOT NULL, `DataPedido` date NOT NULL, PRIMARY KEY (`CliId`,`Placa`,`DataPedido`), KEY `Placa` (`Placa`), CONSTRAINT `Corrida_ibfk_1` FOREIGN KEY (`CliId`) REFERENCES `Cliente` (`CliId`) ON DELETE NO ACTION ON UPDATE NO ACTION, CONSTRAINT `Corrida_ibfk_2` FOREIGN KEY (`Placa`) REFERENCES `Taxi` (`Placa`) ON DELETE NO ACTION ON UPDATE NO ACTION ) ENGINE=InnoDB DEFAULT CHARSET=latin1"

#### Rename Table

In [41]:
RENAME TABLE Cliente TO Cliente_new;

In [42]:
SHOW tables;

Tables_in_taxis
Cliente_new
Corrida
Taxi

#### Alter Table

In [43]:
SHOW COLUMNS FROM Cliente_new;

Field,Type,Null,Key,Default,Extra
CliId,varchar(4),NO,PRI,NULL,
Nome,varchar(80),NO,,NULL,
CPF,varchar(14),NO,,NULL,

In [44]:
ALTER TABLE Cliente_new ADD Rg INT;

In [45]:
SHOW COLUMNS FROM Cliente_new;

Field,Type,Null,Key,Default,Extra
CliId,varchar(4),NO,PRI,NULL,
Nome,varchar(80),NO,,NULL,
CPF,varchar(14),NO,,NULL,
Rg,int(11),YES,,NULL,

In [46]:
ALTER TABLE Cliente_new MODIFY Rg BIGINT;

In [49]:
SHOW COLUMNS FROM Corrida;

Field,Type,Null,Key,Default,Extra
CliId,varchar(4),NO,PRI,NULL,
Placa,varchar(7),NO,PRI,NULL,
DataPedido,date,NO,PRI,NULL,

In [50]:
ALTER TABLE Cliente_new DROP Rg;

In [51]:
SHOW COLUMNS FROM Cliente_new;

Field,Type,Null,Key,Default,Extra
CliId,varchar(4),NO,PRI,NULL,
Nome,varchar(80),NO,,NULL,
CPF,varchar(14),NO,,NULL,

#### Drop Table

Erro por motivo de relação com outras tabelas (chave estrangeira)

In [52]:
DROP TABLE IF EXISTS Cliente_new;

Cannot delete or update a parent row: a foreign key constraint fails
(B(B

In [53]:
DROP TABLE IF EXISTS Corrida;

In [54]:
DROP TABLE IF EXISTS Taxi;
DROP TABLE IF EXISTS Cliente_new;

In [55]:
CREATE TABLE IF NOT EXISTS Taxi (
  Placa VARCHAR(7) NOT NULL,
  Marca VARCHAR(30) NOT NULL,
  Modelo VARCHAR(30) NOT NULL,
  AnoFab INTEGER,
  Licenca VARCHAR(9),
  PRIMARY KEY(Placa)
);

CREATE TABLE Cliente (
  CliId VARCHAR(4) NOT NULL,
  Nome VARCHAR(80) NOT NULL,
  CPF VARCHAR(14) NOT NULL,
  PRIMARY KEY(CliId)
);

CREATE TABLE Corrida (
  CliId VARCHAR(4) NOT NULL,
  Placa VARCHAR(7) NOT NULL,
  DataPedido DATE NOT NULL,
  PRIMARY KEY(CliId, Placa, DataPedido),
  FOREIGN KEY(CliId)
    REFERENCES Cliente(CliId)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION,
  FOREIGN KEY(Placa)
    REFERENCES Taxi(Placa)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION
);

### Data Manipulation (CRUD)

#### Insert

In [56]:
SHOW TABLE STATUS;

Name,Engine,Version,Row_format,Rows,Avg_row_length,Data_length,Max_data_length,Index_length,Data_free,Auto_increment,Create_time,Update_time,Check_time,Collation,Checksum,Create_options,Comment,Max_index_length,Temporary
Cliente,InnoDB,10,Dynamic,0,0,16384,0,0,0,NULL,2021-07-10 04:36:27,NULL,NULL,latin1_swedish_ci,NULL,,,0,N
Corrida,InnoDB,10,Dynamic,0,0,16384,0,16384,0,NULL,2021-07-10 04:36:27,NULL,NULL,latin1_swedish_ci,NULL,,,0,N
Taxi,InnoDB,10,Dynamic,0,0,16384,0,0,0,NULL,2021-07-10 04:36:27,NULL,NULL,latin1_swedish_ci,NULL,,,0,N

In [151]:
INSERT INTO Cliente VALUES ('1532', 'Asdrúbal', '448.754.253-65');
INSERT INTO Cliente VALUES ('1755', 'Doriana', '567.387.387-44');
INSERT INTO Cliente VALUES ('1780', 'Quincas', '546.373.762-02');
INSERT INTO Cliente VALUES ('1888', 'Melissa', '123.456.789-10');

INSERT INTO Taxi VALUES ('DAE6534', 'Ford', 'Fiesta', 1999, 'MN572345');
INSERT INTO Taxi VALUES ('DKL4598', 'Wolkswagen', 'Gol', 2001, 'AU876543');
INSERT INTO Taxi VALUES ('DKL7878', 'Ford', 'Fiesta', 2001, 'OP102938');
INSERT INTO Taxi VALUES ('JDM8776', 'Wolkswagen', 'Santana', 2002, 'QM365923');
INSERT INTO Taxi VALUES ('JJM3692', 'Chevrolet', 'Corsa', 1999, 'UU335577');

INSERT INTO Corrida VALUES ('1755', 'DAE6534', '2003-02-15');
INSERT INTO Corrida VALUES ('1780', 'JDM8776', '2003-02-18');
INSERT INTO Corrida VALUES ('1755', 'DKL7878', '2003-02-16');
INSERT INTO Corrida VALUES ('1780', 'DKL4598', '2003-02-17');
INSERT INTO Corrida VALUES ('1532', 'DKL4598', '2003-02-18');
INSERT INTO Corrida VALUES ('1780', 'DAE6534', '2003-02-16');
INSERT INTO Corrida VALUES ('1755', 'DAE6534', '2003-02-18');
INSERT INTO Corrida VALUES ('1532', 'DKL4598', '2003-02-20');

Duplicate entry '1532' for key 'PRIMARY'
ERROR 1062 (23000) at line 2 in file: '/home/matheus/local-home/git/github/org.thedatasociety/lab-mariadb/labs/lab2/.mariadb_statement': Duplicate entry '1755' for key 'PRIMARY'
ERROR 1062 (23000) at line 3 in file: '/home/matheus/local-home/git/github/org.thedatasociety/lab-mariadb/labs/lab2/.mariadb_statement': Duplicate entry '1780' for key 'PRIMARY'
ERROR 1062 (23000) at line 4 in file: '/home/matheus/local-home/git/github/org.thedatasociety/lab-mariadb/labs/lab2/.mariadb_statement': Duplicate entry '1888' for key 'PRIMARY'
ERROR 1062 (23000) at line 6 in file: '/home/matheus/local-home/git/github/org.thedatasociety/lab-mariadb/labs/lab2/.mariadb_statement': Duplicate entry 'DAE6534' for key 'PRIMARY'
ERROR 1062 (23000) at line 7 in file: '/home/matheus/local-home/git/github/org.thedatasociety/lab-mariadb/labs/lab2/.mariadb_statement': Duplicate entry 'DKL4598' for key 'PRIMARY'
ERROR 1062 (23000) at line 8 in file: '/home/matheus/local-home/git/github/org.thedatasociety/lab-mariadb/labs/lab2/.mariadb_statement': Duplicate entry 'DKL7878' for key 'PRIMARY'
ERROR 1062 (23000) at line 9 in file: '/home/matheus/local-home/git/github/org.thedatasociety/lab-mariadb/labs/lab2/.mariadb_statement': Duplicate entry 'JDM8776' for key 'PRIMARY'
ERROR 1062 (23000) at line 10 in file: '/home/matheus/local-home/git/github/org.thedatasociety/lab-mariadb/labs/lab2/.mariadb_statement': Duplicate entry 'JJM3692' for key 'PRIMARY'
ERROR 1062 (23000) at line 13 in file: '/home/matheus/local-home/git/github/org.thedatasociety/lab-mariadb/labs/lab2/.mariadb_statement': Duplicate entry '1780-JDM8776-2003-02-18' for key 'PRIMARY'
ERROR 1062 (23000) at line 14 in file: '/home/matheus/local-home/git/github/org.thedatasociety/lab-mariadb/labs/lab2/.mariadb_statement': Duplicate entry '1755-DKL7878-2003-02-16' for key 'PRIMARY'
ERROR 1062 (23000) at line 15 in file: '/home/matheus/local-home/git/github/org.thedatasociety/lab-mariadb/labs/lab2/.mariadb_statement': Duplicate entry '1780-DKL4598-2003-02-17' for key 'PRIMARY'
ERROR 1062 (23000) at line 16 in file: '/home/matheus/local-home/git/github/org.thedatasociety/lab-mariadb/labs/lab2/.mariadb_statement': Duplicate entry '1532-DKL4598-2003-02-18' for key 'PRIMARY'
ERROR 1062 (23000) at line 19 in file: '/home/matheus/local-home/git/github/org.thedatasociety/lab-mariadb/labs/lab2/.mariadb_statement': Duplicate entry '1532-DKL4598-2003-02-20' for key 'PRIMARY'
(B(B(B(B(B(B(B(B(B(B(B(B(B(B(B(B(B(B(B(B(B(B(B(B(B(B(B(B

In [58]:
SHOW TABLE STATUS;

Name,Engine,Version,Row_format,Rows,Avg_row_length,Data_length,Max_data_length,Index_length,Data_free,Auto_increment,Create_time,Update_time,Check_time,Collation,Checksum,Create_options,Comment,Max_index_length,Temporary
Cliente,InnoDB,10,Dynamic,4,4096,16384,0,0,0,NULL,2021-07-10 04:36:27,2021-07-10 04:47:14,NULL,latin1_swedish_ci,NULL,,,0,N
Corrida,InnoDB,10,Dynamic,8,2048,16384,0,16384,0,NULL,2021-07-10 04:36:27,2021-07-10 04:47:15,NULL,latin1_swedish_ci,NULL,,,0,N
Taxi,InnoDB,10,Dynamic,5,3276,16384,0,0,0,NULL,2021-07-10 04:36:27,2021-07-10 04:47:14,NULL,latin1_swedish_ci,NULL,,,0,N

#### Select

**Todos os Táxis com todos os atributos**:

In [59]:
SELECT * FROM Taxi;

Placa,Marca,Modelo,AnoFab,Licenca
DAE6534,Ford,Fiesta,1999,MN572345
DKL4598,Wolkswagen,Gol,2001,AU876543
DKL7878,Ford,Fiesta,2001,OP102938
JDM8776,Wolkswagen,Santana,2002,QM365923
JJM3692,Chevrolet,Corsa,1999,UU335577

**Taxis fabricados depois do ano 2000**:

In [61]:
SELECT * FROM Taxi WHERE AnoFab = 2001;

Placa,Marca,Modelo,AnoFab,Licenca
DKL4598,Wolkswagen,Gol,2001,AU876543
DKL7878,Ford,Fiesta,2001,OP102938

#### Update

In [62]:
SELECT * FROM Taxi;

Placa,Marca,Modelo,AnoFab,Licenca
DAE6534,Ford,Fiesta,1999,MN572345
DKL4598,Wolkswagen,Gol,2001,AU876543
DKL7878,Ford,Fiesta,2001,OP102938
JDM8776,Wolkswagen,Santana,2002,QM365923
JJM3692,Chevrolet,Corsa,1999,UU335577

In [63]:
UPDATE Taxi T
       SET T.AnoFab = 2002
       WHERE T.Placa = 'DKL4598';

In [64]:
SELECT * FROM Taxi;

Placa,Marca,Modelo,AnoFab,Licenca
DAE6534,Ford,Fiesta,1999,MN572345
DKL4598,Wolkswagen,Gol,2002,AU876543
DKL7878,Ford,Fiesta,2001,OP102938
JDM8776,Wolkswagen,Santana,2002,QM365923
JJM3692,Chevrolet,Corsa,1999,UU335577

#### Delete

**Apagando o Táxi de placa `DAE6534`**:

In [65]:
SELECT * FROM Corrida;

CliId,Placa,DataPedido
1532,DKL4598,2003-02-18
1532,DKL4598,2003-02-20
1755,DAE6534,2003-02-15
1755,DAE6534,2003-02-18
1755,DKL7878,2003-02-16
1780,DAE6534,2003-02-16
1780,DKL4598,2003-02-17
1780,JDM8776,2003-02-18

In [66]:
DELETE FROM Corrida WHERE Corrida.Placa = "DAE6534";

In [67]:
SELECT * FROM Corrida;

CliId,Placa,DataPedido
1532,DKL4598,2003-02-18
1532,DKL4598,2003-02-20
1755,DKL7878,2003-02-16
1780,DKL4598,2003-02-17
1780,JDM8776,2003-02-18

##### Violação de Integridade

Apagando um Táxi que possui corridas associadas

Este exemplo irá gerar um erro de violação de chave estrangeira.

In [68]:
SELECT * FROM Taxi;

Placa,Marca,Modelo,AnoFab,Licenca
DAE6534,Ford,Fiesta,1999,MN572345
DKL4598,Wolkswagen,Gol,2002,AU876543
DKL7878,Ford,Fiesta,2001,OP102938
JDM8776,Wolkswagen,Santana,2002,QM365923
JJM3692,Chevrolet,Corsa,1999,UU335577

In [69]:
DELETE FROM Taxi WHERE Taxi.Placa = 'DKL4598';

Cannot delete or update a parent row: a foreign key constraint fails (`taxis`.`Corrida`, CONSTRAINT `Corrida_ibfk_2` FOREIGN KEY (`Placa`) REFERENCES `Taxi` (`Placa`) ON DELETE NO ACTION ON UPDATE NO ACTION)
(B(B

# SELECT

**Todos os Táxis com todos os atributos**:

In [70]:
SELECT * FROM Taxi;

Placa,Marca,Modelo,AnoFab,Licenca
DAE6534,Ford,Fiesta,1999,MN572345
DKL4598,Wolkswagen,Gol,2002,AU876543
DKL7878,Ford,Fiesta,2001,OP102938
JDM8776,Wolkswagen,Santana,2002,QM365923
JJM3692,Chevrolet,Corsa,1999,UU335577

**Marca e Modelo dos Taxis disponíveis**:

In [71]:
SELECT Marca, Modelo FROM Taxi;

Marca,Modelo
Ford,Fiesta
Wolkswagen,Gol
Ford,Fiesta
Wolkswagen,Santana
Chevrolet,Corsa

**Taxis fabricados depois do ano 2000**:

In [73]:
SELECT * FROM Taxi WHERE AnoFab > 2000;

Placa,Marca,Modelo,AnoFab,Licenca
DKL4598,Wolkswagen,Gol,2002,AU876543
DKL7878,Ford,Fiesta,2001,OP102938
JDM8776,Wolkswagen,Santana,2002,QM365923

**Placas que comecem com DK**:

In [78]:
SELECT * FROM Taxi WHERE modelo LIKE '%a%';

Placa,Marca,Modelo,AnoFab,Licenca
DAE6534,Ford,Fiesta,1999,MN572345
DKL7878,Ford,Fiesta,2001,OP102938
JDM8776,Wolkswagen,Santana,2002,QM365923
JJM3692,Chevrolet,Corsa,1999,UU335577

**Placas com '7' na penúltima posição**:

In [79]:
SELECT * FROM Taxi WHERE placa LIKE '%7_';

Placa,Marca,Modelo,AnoFab,Licenca
DKL7878,Ford,Fiesta,2001,OP102938
JDM8776,Wolkswagen,Santana,2002,QM365923

Chaves estrangeiras# Produto Cartesiano

# Produto Cartesiano 

**Entre Clientes e Corridas**:

In [82]:
SELECT * FROM Cliente;

CliId,Nome,CPF
1532,Asdrúbal,448.754.253-65
1755,Doriana,567.387.387-44
1780,Quincas,546.373.762-02
1888,Melissa,123.456.789-10

In [88]:
SELECT * FROM Corrida;

CliId,Placa,DataPedido
1532,DKL4598,2003-02-18
1532,DKL4598,2003-02-20
1755,DKL7878,2003-02-16
1780,DKL4598,2003-02-17
1780,JDM8776,2003-02-18

In [86]:
SELECT Cliente.CliId, Cliente.Nome, Corrida.Placa, Corrida.DataPedido
FROM Cliente, Corrida;

CliId,Nome,Placa,DataPedido
1532,Asdrúbal,DKL4598,2003-02-18
1755,Doriana,DKL4598,2003-02-18
1780,Quincas,DKL4598,2003-02-18
1888,Melissa,DKL4598,2003-02-18
1532,Asdrúbal,DKL4598,2003-02-20
1755,Doriana,DKL4598,2003-02-20
1780,Quincas,DKL4598,2003-02-20
1888,Melissa,DKL4598,2003-02-20
1532,Asdrúbal,DKL7878,2003-02-16
1755,Doriana,DKL7878,2003-02-16
1780,Quincas,DKL7878,2003-02-16
1888,Melissa,DKL7878,2003-02-16
1532,Asdrúbal,DKL4598,2003-02-17
1755,Doriana,DKL4598,2003-02-17
1780,Quincas,DKL4598,2003-02-17
1888,Melissa,DKL4598,2003-02-17
1532,Asdrúbal,JDM8776,2003-02-18
1755,Doriana,JDM8776,2003-02-18
1780,Quincas,JDM8776,2003-02-18
1888,Melissa,JDM8776,2003-02-18

# JOIN Implícito

**Cientes e as respectivas corridas - Join Implícito**

In [87]:
SELECT Cliente.CliId, Cliente.Nome, Corrida.Placa, Corrida.DataPedido
FROM Cliente, Corrida
WHERE Cliente.CliId = Corrida.CliId;

CliId,Nome,Placa,DataPedido
1532,Asdrúbal,DKL4598,2003-02-18
1532,Asdrúbal,DKL4598,2003-02-20
1755,Doriana,DKL7878,2003-02-16
1780,Quincas,DKL4598,2003-02-17
1780,Quincas,JDM8776,2003-02-18

**Modelo de taxi para cada corrida**:

In [92]:
SELECT Taxi.Modelo
       FROM Corrida, Taxi
       WHERE Corrida.Placa = Taxi.Placa;

Modelo
Gol
Gol
Gol
Fiesta
Santana

**Modelos de Táxi por Cliente (estágio 1)**

In [95]:
SELECT Cliente.Nome, Corrida.DataPedido, Corrida.Placa, Taxi.Modelo
       FROM Cliente, Corrida, Taxi
       WHERE Cliente.CliId = Corrida.CliId AND Corrida.Placa = Taxi.Placa;

Nome,DataPedido,Placa,Modelo
Asdrúbal,2003-02-18,DKL4598,Gol
Asdrúbal,2003-02-20,DKL4598,Gol
Doriana,2003-02-16,DKL7878,Fiesta
Quincas,2003-02-17,DKL4598,Gol
Quincas,2003-02-18,JDM8776,Santana

**Modelos de Táxi por Cliente (estágio 2)**:

In [96]:
SELECT DISTINCT Cliente.Nome, Taxi.Modelo
       FROM Cliente, Corrida, Taxi
       WHERE Cliente.CliId = Corrida.CliId AND Corrida.Placa = Taxi.Placa;

Nome,Modelo
Asdrúbal,Gol
Doriana,Fiesta
Quincas,Gol
Quincas,Santana

# ORDER BY

**Nome dos clientes ordenado alfabeticamente**:

In [100]:
SELECT Nome
       FROM Cliente
       ORDER BY Nome DESC ;

Nome
Quincas
Melissa
Doriana
Asdrúbal

**Modelos de taxi e os clientes que os tomaram**

Ordena por Modelo, mas não por Cliente:

In [106]:
SELECT DISTINCT Cl.Nome, T.Modelo
       FROM Cliente Cl, Corrida Co, Taxi T
       WHERE Cl.CliId = Co.CliId AND
             Co.Placa = T.Placa
       ORDER BY T.Modelo;

Nome,Modelo
Doriana,Fiesta
Quincas,Gol
Asdrúbal,Gol
Quincas,Santana

Ordena por Modelo e, para cada Modelo, por Cliente:

In [111]:
SELECT DISTINCT Cl.Nome, T.Modelo
       FROM Cliente Cl, Corrida Co, Taxi T
       WHERE Cl.CliId = Co.CliId AND
             Co.Placa = T.Placa
       ORDER BY  Cl.Nome, T.Modelo;

Nome,Modelo
Asdrúbal,Gol
Doriana,Fiesta
Quincas,Gol
Quincas,Santana

**Cliente e os modelos de taxi tomados**

Ordena por Cliente, mas não por Modelo:

In [ ]:
SELECT DISTINCT Cl.Nome, T.Modelo
       FROM Cliente Cl, Corrida Co, Taxi T
       WHERE Cl.CliId = Co.CliId AND
             Co.Placa = T.Placa
       ORDER BY Cl.Nome;

Ordena por Cliente e, para cada Cliente, por Modelo

In [ ]:
SELECT DISTINCT Cl.Nome, T.Modelo
       FROM Cliente Cl, Corrida Co, Taxi T
       WHERE Cl.CliId = Co.CliId AND
             Co.Placa = T.Placa
       ORDER BY Cl.Nome, T.Modelo;

# JOINs explícitos 

## INNER JOIN (a.k.a. Join)

Forma explícita de fazer uma junção (produto cartesiano com filtro de igualdade entre chaves). Forma mais enxuta e direta de explicitar o objetivo de fazer uma junção de tabelas.
No fim, SGBD trata explícito e implícito da mesma forma.

Também chamado de Inner Join.

<img src="https://www.codeproject.com/KB/database/Visual_SQL_Joins/INNER_JOIN.png" width="120px">

**Taxis e respectivas corridas (para taxis que fizeram corrida)**:

In [145]:
SELECT DISTINCT Tx.placa, Tx.modelo, Co.cliid
FROM Corrida Co JOIN Taxi Tx ON Tx.placa = Co.placa;

placa,modelo,cliid
DKL4598,Gol,1532
DKL4598,Gol,1780
DKL7878,Fiesta,1755
JDM8776,Santana,1780

In [146]:
SELECT DISTINCT Tx.placa, Tx.modelo, Co.cliid
FROM Corrida Co INNER JOIN Taxi Tx ON Tx.placa = Co.placa;

placa,modelo,cliid
DKL4598,Gol,1532
DKL4598,Gol,1780
DKL7878,Fiesta,1755
JDM8776,Santana,1780

In [141]:
SELECT DISTINCT Tx.placa, Tx.modelo, Co.cliid, Cl.nome, Cl.cpf
FROM Corrida Co JOIN Taxi    Tx ON Tx.placa = Co.placa
                JOIN Cliente Cl ON Cl.cliid = Co.cliid
ORDER BY Cl.nome;

placa,modelo,cliid,nome,cpf
DKL4598,Gol,1532,Asdrúbal,448.754.253-65
DKL7878,Fiesta,1755,Doriana,567.387.387-44
DKL4598,Gol,1780,Quincas,546.373.762-02
JDM8776,Santana,1780,Quincas,546.373.762-02

### NATURAL JOIN 
Mesmo que join/inner join. Caso os campos possuam o mesmo nome nas duas tabelas, estes serão os critérios da junção.

**IDs de clientes e placas dos taxis que fizeram corridas**:

In [124]:
SELECT Tx.placa, Co.cliid
       FROM Taxi Tx
            NATURAL JOIN Corrida Co;

placa,cliid
DKL4598,1532
DKL4598,1532
DKL4598,1780
DKL7878,1755
JDM8776,1780

## OUTER JOINS
### LEFT OUTER JOIN (LEFT JOIN)

<img src="https://www.codeproject.com/KB/database/Visual_SQL_Joins/LEFT_JOIN.png" width="120px">

**Taxis e respectivas corridas (para todos os taxis)**:

In [125]:
SELECT Tx.placa, Co.cliid
       FROM Taxi Tx LEFT JOIN Corrida Co
                           ON Tx.placa = Co.placa;

placa,cliid
DAE6534,NULL
DKL4598,1532
DKL4598,1532
DKL4598,1780
DKL7878,1755
JDM8776,1780
JJM3692,NULL

#### Left Excluding Join
<img src="https://www.codeproject.com/KB/database/Visual_SQL_Joins/LEFT_EXCLUDING_JOIN.png" width="120px">

In [170]:
SELECT Tx.placa, Co.cliid
       FROM Taxi Tx LEFT JOIN Corrida Co
                           ON Tx.placa = Co.placa
       WHERE Co.placa IS NULL;

placa,cliid
JJM3692,NULL

### RIGHT OUTER JOIN (RIGHT JOIN)

<img src="https://www.codeproject.com/KB/database/Visual_SQL_Joins/RIGHT_JOIN.png" width="120px">

**Corridas e respectivos clientes (para todos os clientes)**:

In [174]:
SELECT Co.placa, Cl.nome
       FROM Corrida Co RIGHT JOIN Cliente Cl
                               ON Co.cliid = Cl.cliid;

placa,nome
DKL4598,Asdrúbal
DKL4598,Asdrúbal
DAE6534,Doriana
DAE6534,Doriana
DKL7878,Doriana
DAE6534,Quincas
DKL4598,Quincas
JDM8776,Quincas
NULL,Melissa

#### Right Excluding Join
<img src="https://www.codeproject.com/KB/database/Visual_SQL_Joins/RIGHT_EXCLUDING_JOIN.png" width="120px">

In [175]:
SELECT Co.placa, Cl.nome
       FROM Corrida Co RIGHT JOIN Cliente Cl
                               ON Co.cliid = Cl.cliid   
       WHERE Co.cliid IS NULL;

placa,nome
NULL,Melissa

### FULL OUTER JOIN

<img src="https://www.codeproject.com/KB/database/Visual_SQL_Joins/FULL_OUTER_JOIN.png" width="120px">


Não existe OUTER JOIN no MariaDB/Mysql. Mas há uma alternativa: UNION


**Corridas e clientes (para todos os clientes e corridas)**:

In [183]:
SELECT Co.placa, Cl.nome
       FROM Corrida Co LEFT JOIN Cliente Cl
                               ON Co.cliid = Cl.cliid
UNION

SELECT Co.placa, Cl.nome
       FROM Corrida Co RIGHT JOIN Cliente Cl
                               ON Co.cliid = Cl.cliid;

placa,nome
DKL4598,Asdrúbal
DAE6534,Doriana
DKL7878,Doriana
DAE6534,Quincas
DKL4598,Quincas
JDM8776,Quincas
NULL,Melissa

#### Full Outer Excluding Join
<img src="https://www.codeproject.com/KB/database/Visual_SQL_Joins/OUTER_EXCLUDING_JOIN.png" width="120px">

# DELETE

**Apagando o Táxi de placa `DAE6534`**:

In [ ]:
SELECT * FROM Corrida;

In [ ]:
DELETE FROM Corrida WHERE Corrida.Placa = "DAE6534";
SELECT * FROM Corrida;

## Violação de Integridade

**Apagando um Táxi que possui corridas associadas**:

Este exemplo irá gerar um erro de violação de chave estrangeira.

In [ ]:
SELECT * FROM Taxi;

In [ ]:
DELETE FROM Taxi WHERE Taxi.Placa = 'DKL4598';

# UPDATE

**Alterando o ano de fabricação (para 2002) do Táxi que possui placa `DKL4598`**:

In [ ]:
SELECT * FROM Taxi ORDER BY Placa;
UPDATE Taxi T
       SET T.AnoFab = 2002
       WHERE T.Placa = 'DKL4598';
SELECT * FROM Taxi ORDER BY Placa;

# GROUP BY

**Modelos de Táxi cadastrados**:

In [ ]:
SELECT T.Modelo
       FROM Taxi T
       GROUP BY T.Modelo;



**Modelos de Táxi cadastrados e quantos táxis há em cada modelo:**

In [ ]:
SELECT T.Modelo, COUNT(*)
       FROM Taxi T
       GROUP BY T.Modelo;

## Agregando em mais de um nível

**Modelos de taxi tomados por cada cliente (agrupando por Cliente e por Modelo)**:

In [ ]:
SELECT Cl.Nome, T.Modelo, COUNT(*)
       FROM Cliente Cl, Corrida Co, Taxi T 
       WHERE Cl.CliId = Co.CliId AND 
             Co.Placa = T.Placa
       GROUP BY Cl.Nome, T.Modelo;

## Funções de agregação sem agrupamento

**Média de ano de fabricação para todos os Táxis**

Quando é usada função de agregação sem especificação de agrupamento, toda a tabela é agregada como se fosse um único grupo.

In [ ]:
-- Tabela completa
SELECT AnoFab FROM Taxi;

-- Media do ano de fabricação de toda a tabela
SELECT MAX(AnoFab) FROM Taxi;

## Campos mostrados devem corresponder à agregação

Exemplo sem agregação:

In [ ]:
SELECT Modelo, AnoFab
       FROM Taxi;

**Modelo e Ano de Fabricação**

Este exemplo com agregação produzirá um erro pois `AnoFab` (ano de fabricação) não foi agregado, portanto, pode haver mais de um ano de fabricação para o mesmo modelo.

In [ ]:
SELECT Modelo, AnoFab
       FROM Taxi
       GROUP BY Modelo;

**Modelo e Maior Ano de Fabricação**

Corrigindo com função de agregação

Este exemplo escolhe o maior ano para cada Modelo agregado.

In [ ]:
SELECT Modelo, MAX(AnoFab)
       FROM Taxi
       GROUP BY Modelo;

# HAVING

**Número de Táxis por Modelo somente para os Táxis com ano de fabricação acima de 2000**:

Exemplo com `WHERE` em que a condição é aplicada antes de se agregar:

In [ ]:
-- Todos os Táxis
SELECT * FROM Taxi;

-- Selecionados e Agregados
SELECT Modelo, COUNT(*) NUM
       FROM Taxi
       WHERE AnoFab > 2000
       GROUP BY Modelo;

**Modelos de Táxi que têm mais de um Táxi do respectivo modelo**

Exemplo com `HAVING` em que a condição é aplicada após se agregar:

In [ ]:
-- Agrupamento
SELECT Modelo, COUNT(*) NUM
       FROM Taxi
       GROUP BY Modelo;

-- Agrupamento com HAVING
SELECT Modelo, COUNT(*) NUM
       FROM Taxi
       GROUP BY Modelo
       HAVING NUM > 1;

## `HAVING` apenas para campos agregados 

**Modelos daqueles Táxis com ano de fabricação acima de 2000**

A seleção a seguir produzirá um erro pois está se aplicando uma condição `HAVING` para um campo não agregado. Deveria ter sido usado `WHERE` como foi feito anteriormente.

In [ ]:
SELECT Modelo, COUNT(*) NUM
       FROM Taxi
       GROUP BY Modelo
       HAVING AnoFab > 2000;

**Exemplo de `HAVING` com média**

Modelos de Táxi cujo maior Ano de Fabricação seja após 2000:

In [ ]:
SELECT Modelo, MAX(AnoFab) MaiorAno
       FROM Taxi
       GROUP BY Modelo
       HAVING MaiorAno > 2000;

# VIEW

**Total de Táxis por Modelo**

Agrupamento sem o uso de `VIEW`:

In [ ]:
SELECT Modelo, COUNT(*) Numero_Taxis
       FROM taxi
       GROUP BY Modelo;

**Tabela de Total de Táxis por Modelo**

Transformando o agrupamento na tabela `Contagem_Modelo` com o `VIEW`:

In [ ]:
CREATE VIEW Contagem_Modelo AS
SELECT Modelo, COUNT(*) Numero_Taxis
       FROM taxi
       GROUP BY Modelo;

SELECT * FROM Contagem_Modelo;

Usando a tabela criada com a `VIEW`:

In [ ]:
SELECT AVG(Numero_Taxis) FROM Contagem_Modelo;

**VIEW se auto-atualiza**

A view é um recorte dinâmico, ela se auto-atualiza quando a tabela original é modificada.

In [ ]:
INSERT INTO Taxi VALUES ('KMN3412', 'Chevrolet', 'Corsa', 2001, 'QJ572345');
SELECT * FROM Contagem_Modelo;