# Movielens

Este [dataset](https://grouplens.org/datasets/movielens/100k/) descreve as avaliações de filmes feitas por usuários no site [MovieLens](https://movielens.org/), um serviço de recomendação de filmes. As avaliações (ratings) variam de 1 a 5, cada usuário avaliou pelo menos 20 filmes e existem simples informações demográficas sobre os usuários. Existem no banco de dados, aproximadamente, 100,000 avaliações de 1000 usuários feitas a 1700 filmes.

## Descrição das tabelas

* **Occupations**: Armazena a lista de ocupações dos usuários;
* **Users**: Armazena informações sobre os usuários, por exemplo, idade e cep;
* **Ratings**: Armazena as notas que os usuários atribuíram aos filmes e em qual momento esta nota foi atribuída;
* **Movies**: Armazena informações dos filmes;
* **Genres_movies**: Armazena o relacionamento dos gêneros e dos filmes;
* **Genres**: Armazena a lista de gêneros.

## Modelo lógico

<img src="../../resources/images/movielens_diagram.png" width="1000px">

In [1]:
USE movielens;

## [Questão Exemplo] Liste todos os usuários
<!--
SELECT * FROM users LIMIT 10;
SELECT * FROM users; -->

In [5]:
SELECT * FROM users LIMIT 10;

id,age,gender,occupation_id,zip_code
1,24,M,20,85711
2,53,F,14,94043
3,23,M,21,32067
4,24,M,20,43537
5,33,F,14,15213
6,42,M,7,98101
7,57,M,1,91344
8,36,M,1,05201
9,29,M,19,01002
10,53,M,10,90703

## [Questão Exemplo] Liste o id e idade dos usuários
<!-- SELECT id, age FROM users;
 SELECT id, age FROM users LIMIT 10;-->

In [6]:
SELECT id, age FROM users LIMIT 10;

id,age
1,24
2,53
3,23
4,24
5,33
6,42
7,57
8,36
9,29
10,53

## [Questão Exemplo] Liste todos os ids das ocupações dos usuários sem repetição
<!-- SELECT DISTINCT occupation_id FROM users; -->

In [8]:
SELECT DISTINCT occupation_id FROM users;

occupation_id
20
14
21
7
1
19
10
4
18
6
15
11
9
2
5
12
13
8
16
17
3

## [Questão Exemplo] Liste o id e a idade dos usuários que possuem mais de 25 anos
<!-- SELECT id, age FROM users WHERE age > 25;-->

In [10]:
SELECT id, age FROM users WHERE age > 25 LIMIT 10;

id,age
2,53
5,33
6,42
7,57
8,36
9,29
10,53
11,39
12,28
13,47

## [Questão Exemplo] Liste o id e a idade dos usuários que possuem entre 25 anos e 35 anos
<!-- SELECT id, age FROM users WHERE age > 25 AND age < 35 LIMIT 10;-->

In [13]:
SELECT id, age FROM users WHERE age > 25 AND age < 35 LIMIT 10;

id,age
5,33
9,29
12,28
17,30
21,26
23,30
28,32
32,28
38,28
41,33

## [Questão Exemplo] Liste o id e o gênero dos usuários que fizeram pelo menos uma avaliação de filme

In [6]:
--Consulta aninhada
SELECT id, gender FROM
 users
 WHERE id in
(SELECT user_id FROM ratings) LIMIT 10;

id,gender
1,M
2,F
3,M
4,M
5,F
6,M
7,M
8,M
9,M
10,M

In [8]:
--Junção
SELECT u.id, u.gender FROM
 users u JOIN ratings r on u.id = r.user_id
 LIMIT 10;

id,gender
196,M
186,F
22,M
244,M
166,M
298,M
115,M
253,F
305,M
6,M

## [Questão Exemplo] Quantos usuários são do sexo masculino e quantos usuários são do sexo feminino?

In [10]:
SELECT gender, COUNT(*)
FROM users
GROUP BY gender;

gender,COUNT(*)
F,273
M,670

## [Questão Exemplo] Quantos usuários existem agrupados por idade e separados por gênero?

In [ ]:
SELECT age, gender, COUNT(*)
FROM users
GROUP BY age, gender;

## [Questão 1] Liste todos os filmes

In [11]:
SELECT * FROM movies LIMIT 10;

id,title,release_date
1,Toy Story (1995),1995-01-01
2,GoldenEye (1995),1995-01-01
3,Four Rooms (1995),1995-01-01
4,Get Shorty (1995),1995-01-01
5,Copycat (1995),1995-01-01
6,Shanghai Triad (Yao a yao yao dao waipo qiao) (1995),1995-01-01
7,Twelve Monkeys (1995),1995-01-01
8,Babe (1995),1995-01-01
9,Dead Man Walking (1995),1995-01-01
10,Richard III (1995),1996-01-22

## [Questão 2] Liste todos os títulos e data de lançamento dos filmes

In [12]:
SELECT title, release_date FROM movies LIMIT 10;

title,release_date
Toy Story (1995),1995-01-01
GoldenEye (1995),1995-01-01
Four Rooms (1995),1995-01-01
Get Shorty (1995),1995-01-01
Copycat (1995),1995-01-01
Shanghai Triad (Yao a yao yao dao waipo qiao) (1995),1995-01-01
Twelve Monkeys (1995),1995-01-01
Babe (1995),1995-01-01
Dead Man Walking (1995),1995-01-01
Richard III (1995),1996-01-22

## [Questão 3] Liste todas as datas que tiveram lançamento de filmes sem repetição

In [15]:
SELECT DISTINCT release_date FROM movies LIMIT 10;

release_date
1995-01-01
1996-01-22
1995-08-14
1995-10-30
1994-01-01
1996-01-29
1996-02-05
1996-02-16
1996-02-23
1996-03-08

## [Questão 4] Liste o título de todos os filmes com data de lançamento maior que 07/07/1995

In [20]:
SELECT title, release_date FROM movies WHERE release_date > "1995-07-07" LIMIT 20;

title,release_date
Richard III (1995),1996-01-22
"Usual Suspects, The (1995)",1995-08-14
Mighty Aphrodite (1995),1995-10-30
Mr. Holland's Opus (1995),1996-01-29
From Dusk Till Dawn (1996),1996-02-05
Muppet Treasure Island (1996),1996-02-16
Braveheart (1995),1996-02-16
Taxi Driver (1976),1996-02-16
Rumble in the Bronx (1995),1996-02-23
"Birdcage, The (1996)",1996-03-08
Welcome to the Dollhouse (1995),1996-05-24
Fargo (1996),1997-02-14
All Dogs Go to Heaven 2 (1996),1996-03-29
Theodore Rex (1995),1996-03-29
Sgt. Bilko (1996),1996-03-29
Diabolique (1996),1996-01-01
Moll Flanders (1996),1996-06-14
Kids in the Hall: Brain Candy (1996),1996-04-12
Mystery Science Theater 3000: The Movie (1996),1996-04-19
"Truth About Cats & Dogs, The (1996)",1996-04-26

## [Questão 5] Liste todos os usuários e o nome de suas profissões

In [23]:
SELECT u.id as user_id, o.name as occupation FROM users u JOIN occupations o ON u.occupation_id = o.id  LIMIT 10;

user_id,occupation
1,Technician
2,Other
3,Writer
4,Technician
5,Other
6,Executive
7,Administrator
8,Administrator
9,Student
10,Lawyer

## [Questão 6] Liste o título dos filmes que contenham a palavra "Treasure" em seu título

In [27]:
SELECT title FROM movies WHERE title LIKE '%Treasure%';

title
Muppet Treasure Island (1996)
"Treasure of the Sierra Madre, The (1948)"

## [Questão 7] Liste todos as ocupações com "o" na penultima posição

In [6]:
SELECT * FROM occupations WHERE name LIKE '%o_';

id,name
1,Administrator
2,Artist
3,Doctor
4,Educator
5,Engineer
6,Entertainment
7,Executive
8,Healthcare
9,Homemaker
10,Lawyer
11,Librarian
12,Marketing
13,None
14,Other
15,Programmer
16,Retired
17,Salesman
18,Scientist
19,Student
20,Technician
21,Writer

## [Questão 8] Insira dois usuários com ids 2000 e 3000 com a profissão "Programmer". Escolha outros valores para os demais campos.

In [9]:
SELECT * FROM users WHERE id >= 2000;

In [10]:
INSERT INTO users VALUES(2000, 35, "M", 15, "123456");

In [11]:
INSERT INTO users VALUES(3000, 30, "F", 15, "123456");

In [12]:
SELECT * FROM users WHERE id >= 2000;

id,age,gender,occupation_id,zip_code
2000,35,M,15,123456
3000,30,F,15,123456

## [Questão 9] Altere a profissão do usuário de id 3000 para "Scientist"

In [13]:
SELECT * FROM users WHERE id = 3000;

id,age,gender,occupation_id,zip_code
3000,30,F,15,123456

In [14]:
UPDATE users
       SET occupation_id = 18
       WHERE id = 3000;

In [15]:
SELECT * FROM users WHERE id = 3000;

id,age,gender,occupation_id,zip_code
3000,30,F,18,123456

## [Questão 10] Delete o usuário de id 3000

In [16]:
SELECT * FROM users WHERE id = 3000;

id,age,gender,occupation_id,zip_code
3000,30,F,18,123456

In [17]:
DELETE FROM users WHERE id = 3000;

In [19]:
SELECT * FROM users WHERE id >= 2000;

id,age,gender,occupation_id,zip_code
2000,35,M,15,123456

## [Questão 11] Liste todos os usuários que não fizeram nenhuma avaliação de filme

In [29]:
SELECT id FROM users WHERE id NOT IN (SELECT user_id FROM ratings);

id
2000

## [Questão 12] Liste o título dos filmes e seus gêneros

In [31]:
SELECT m.title, g.name FROM movies m JOIN genres_movies gm ON m.id = gm.movie_id 
                                     JOIN genres g ON g.id = gm.genre_id 
                                     LIMIT 10;

title,name
Toy Story (1995),Animation
Toy Story (1995),Children's
Toy Story (1995),Comedy
GoldenEye (1995),Action
GoldenEye (1995),Adventure
GoldenEye (1995),Thriller
Four Rooms (1995),Thriller
Get Shorty (1995),Action
Get Shorty (1995),Comedy
Get Shorty (1995),Drama

## [Questão 13] Quantos usuários possuem a profissão "Student"?

In [2]:
SELECT oc.name, COUNT(*) FROM users u JOIN occupations oc ON u.occupation_id = oc.id WHERE oc.name = 'Student' GROUP BY oc.name;

name,COUNT(*)
Student,196

## [Questão 14] Quais estudantes avaliaram filmes que possuem a palavra "Man" em seu título?

In [ ]:
SELECT DISTINCT u.id as user_id, oc.name as occupation FROM occupations oc JOIN users u ON u.occupation_id = oc.id 
                                                                  JOIN ratings r ON r.user_id = u.id
                                                                  JOIN movies m ON m.id = r.movie_id
                                                                  WHERE oc.name = "Student" AND m.title LIKE "%Man%"
                                                                  LIMIT 10;

## [Questão 15] Quantos estudantes menores de 18 anos avaliaram filmes de terror ou crime

In [14]:
SELECT COUNT(DISTINCT u.id) as Quantidade FROM occupations oc JOIN users u ON u.occupation_id = oc.id 
                                                                  JOIN ratings r ON r.user_id = u.id
                                                                  WHERE oc.name = "Student" AND u.age < 18 
                                                                        AND r.movie_id IN
                                                                          (SELECT DISTINCT m.id FROM movies m JOIN genres_movies gm ON m.id = gm.movie_id
                                                                                                     JOIN genres g ON g.id = gm.genre_id  
                                                                                       WHERE g.name = "Horror" OR g.name = "Crime");

Quantidade
29

## [Questão 16] Qual são os ids dos 10 filmes mais populares?

In [27]:
SELECT movie_id, count(rating) as avaliacoes FROM ratings GROUP BY movie_id ORDER BY avaliacoes DESC LIMIT 10;

movie_id,avaliacoes
50,583
258,509
100,508
181,507
294,485
286,481
288,478
1,452
300,431
121,429

## [Questão 17] Qual o nome do filme com melhor média de avaliação? O resultado deve mostrar apenas os filmes com a melhor média (sem utilizar o "LIMIT")

In [29]:
CREATE OR REPLACE VIEW ratings_avg AS SELECT movie_id, AVG(rating) as media FROM ratings GROUP BY movie_id;

In [30]:
SELECT * FROM ratings_avg ORDER BY media DESC LIMIT 20;

movie_id,media
1536,5.0000
1201,5.0000
1122,5.0000
1653,5.0000
1189,5.0000
1467,5.0000
1500,5.0000
1293,5.0000
814,5.0000
1599,5.0000
1449,4.6250
1398,4.5000
119,4.5000
1594,4.5000
1642,4.5000
408,4.4911
318,4.4664
169,4.4661
483,4.4568
114,4.4478

In [31]:
SELECT m.title, m.id FROM ratings_avg ra JOIN movies m ON ra.movie_id = m.id WHERE ra.media IN (SELECT MAX(media) FROM ratings_avg);

title,id
Entertaining Angels: The Dorothy Day Story (1996),1653
Someone Else's America (1995),1599
Aiqing wansui (1994),1536
Santa with Muscles (1996),1500
"Saint of Fort Washington, The (1993)",1467
Star Kid (1997),1293
Marlene Dietrich: Shadow and Light (1996),1201
Prefontaine (1997),1189
They Made Me a Criminal (1939),1122
"Great Day in Harlem, A (1994)",814

## [Questão 18] Quais os nomes dos top 10 filmes com melhor média de avaliação considerando filmes que possuem mais de 10 avaliações?

In [32]:
CREATE OR REPLACE VIEW top_movies AS SELECT movie_id, count(rating) as avaliacoes FROM ratings GROUP BY movie_id;

In [40]:
SELECT  m.id as id, m.title as title, ra.media as media, tm.avaliacoes as avaliacoes
FROM ratings_avg ra JOIN top_movies tm ON ra.movie_id = tm.movie_id
JOIN movies m ON tm.movie_id = m.id
WHERE tm.avaliacoes >10
ORDER BY media DESC
LIMIT 10;

id,title,media,avaliacoes
408,"Close Shave, A (1995)",4.4911,112
318,Schindler's List (1993),4.4664,298
169,"Wrong Trousers, The (1993)",4.4661,118
483,Casablanca (1942),4.4568,243
114,Wallace & Gromit: The Best of Aardman Animation (1996),4.4478,67
64,"Shawshank Redemption, The (1994)",4.4452,283
603,Rear Window (1954),4.3876,209
12,"Usual Suspects, The (1995)",4.3858,267
50,Star Wars (1977),4.3585,583
178,12 Angry Men (1957),4.3440,125

In [41]:
-- SOLUÇÃO 02 - HAVING
SELECT r.movie_id, m.title, AVG(r.rating) as rating_avg, COUNT(r.rating) as rating_count
FROM ratings r JOIN movies m ON r.movie_id = m.id
GROUP BY r.movie_id, m.title
HAVING rating_count > 10
ORDER BY rating_avg DESC
LIMIT 10;

movie_id,title,rating_avg,rating_count
408,"Close Shave, A (1995)",4.4911,112
318,Schindler's List (1993),4.4664,298
169,"Wrong Trousers, The (1993)",4.4661,118
483,Casablanca (1942),4.4568,243
114,Wallace & Gromit: The Best of Aardman Animation (1996),4.4478,67
64,"Shawshank Redemption, The (1994)",4.4452,283
603,Rear Window (1954),4.3876,209
12,"Usual Suspects, The (1995)",4.3858,267
50,Star Wars (1977),4.3585,583
178,12 Angry Men (1957),4.3440,125