## **PREENCHA A CÉLULA ABAIXO COM O(S) INTEGRANTE(S)**

### Colocar o nome completo e RA

INTEGRANTE 01: Fulano Silva (RA: 000)
INTEGRANTE 02: Cicrano Souza (RA: 001) [opcional]

# Movielens

Este [dataset](https://grouplens.org/datasets/movielens/100k/) descreve as avaliações de filmes feitas por usuários no site [MovieLens](https://movielens.org/), um serviço de recomendação de filmes. As avaliações (ratings) variam de 1 a 5, cada usuário avaliou pelo menos 20 filmes e existem simples informações demográficas sobre os usuários. Existem no banco de dados, aproximadamente, 100,000 avaliações de 1000 usuários feitas a 1700 filmes.

## Descrição das tabelas

* **Occupations**: Armazena a lista de ocupações dos usuários;
* **Users**: Armazena informações sobre os usuários, por exemplo, idade e cep;
* **Ratings**: Armazena as notas que os usuários atribuíram aos filmes e em qual momento esta nota foi atribuída;
* **Movies**: Armazena informações dos filmes;
* **Genres_movies**: Armazena o relacionamento dos gêneros e dos filmes;
* **Genres**: Armazena a lista de gêneros.

## Diagrama de Tabelas - Modelo lógico

<img src="../../resources/images/movielens_diagram.png" width="1000px">

In [ ]:
USE movielens;

# Questões Exemplo

## [Questão Exemplo] Liste todos os usuários
<!--
SELECT * FROM users LIMIT 10;
SELECT * FROM users; -->

In [ ]:
SELECT * FROM users LIMIT 10;

## [Questão Exemplo] Liste o sexo e a idade dos usuários
<!--
 SELECT gender, age FROM users LIMIT 10;-->

In [ ]:
SELECT gender, age FROM users LIMIT 10;

## [Questão Exemplo] Liste todos os sexos dos usuários sem repetição
<!-- SELECT DISTINCT gender FROM users; -->

In [ ]:
SELECT DISTINCT gender FROM users;

## [Questão Exemplo] Liste o id e a idade dos usuários que possuem mais de 25 anos
<!-- SELECT id, age FROM users WHERE age > 25;-->

In [ ]:
SELECT id, age FROM users WHERE age > 25 LIMIT 10;

## [Questão Exemplo] Liste o id e a idade dos usuários que possuem entre 25 anos e 35 anos
<!-- SELECT id, age FROM users WHERE age > 25 AND age < 35 LIMIT 10;-->

In [ ]:
SELECT id, age FROM users WHERE age > 25 AND age < 35 LIMIT 10;

## [Questão Exemplo] Liste o id e o gênero dos usuários que fizeram pelo menos uma avaliação de filme

In [ ]:
--Consulta aninhada
SELECT id, gender FROM
 users
 WHERE id IN
(SELECT user_id FROM ratings) LIMIT 10;

In [ ]:
--Junção
SELECT u.id, u.gender FROM
 users u JOIN ratings r on u.id = r.user_id
 LIMIT 10;

## [Questão Exemplo] Quantos usuários são do sexo masculino e quantos usuários são do sexo feminino?

In [ ]:
SELECT gender, COUNT(*)
FROM users
GROUP BY gender;

## [Questão Exemplo] Quantos usuários tem o mesmo sexo e a mesma idade?

In [ ]:
SELECT age, gender, COUNT(*)
FROM users
GROUP BY age, gender;

# Questões a serem respondidas

## [Questão 1] Liste todos os filmes
<!--
SELECT * FROM movies LIMIT 10; 
-->

## [Questão 2] Liste todos os títulos e data de lançamento dos filmes
<!--
SELECT title, release_date FROM movies LIMIT 10; 
-->

## [Questão 3] Liste todas as datas que tiveram lançamento de filmes sem repetição
<!--
SELECT DISTINCT release_date FROM movies LIMIT 10; 
-->

## [Questão 4] Liste o título de todos os filmes com data de lançamento maior que 07/07/1995
<!--
SELECT title, release_date FROM movies WHERE release_date > str_to_date("07/07/1995", "%d/%m/%Y") LIMIT 20;
-->

## [Questão 5] Liste todos os usuários e o nome de suas profissões 
<!--
SELECT u.id as user_id, o.name as occupation FROM users u JOIN occupations o ON u.occupation_id = o.id  LIMIT 10; 
-->

## [Questão 6] Liste o título dos filmes que contenham a palavra "Treasure" em seu título
<!--
SELECT title FROM movies WHERE title LIKE '%Treasure%'; 
-->

## [Questão 7] Liste todos as ocupações com "o" na penultima posição do nome

## [Questão 8] Insira dois usuários com ids 2000 e 3000 com a profissão "Programmer" (id 15). Escolha outros valores para os demais campos.

<!--
SELECT * FROM users WHERE id >= 2000;

INSERT INTO users VALUES(2000, 35, "M", 15, "123456");

INSERT INTO users VALUES(3000, 30, "F", 15, "123456");

SELECT * FROM users WHERE id >= 2000;
-->

## [Questão 9] Altere a profissão do usuário de id 3000 para "Scientist" (id 18)
<!--
SELECT * FROM users WHERE id = 3000;

UPDATE users
       SET occupation_id = 18
       WHERE id = 3000;

SELECT * FROM users WHERE id = 3000;
-->

## [Questão 10] Delete o usuário de id 3000
<!--
SELECT * FROM users WHERE id = 3000;

DELETE FROM users WHERE id = 3000;

SELECT * FROM users WHERE id >= 2000;
-->

## [Questão 11] Liste todos os usuários que não fizeram nenhuma avaliação de filme
<!--
--SOLUÇÃO 01
SELECT id FROM users WHERE id NOT IN (SELECT user_id FROM ratings);

--SOLUÇÃO 02
SELECT u.id FROM users u LEFT JOIN ratings r ON u.id = r.user_id WHERE r.user_id IS NULL;
-->

## [Questão 12] Liste o título dos filmes e seus gêneros
<!--
SELECT m.title, g.name FROM movies m JOIN genres_movies gm ON m.id = gm.movie_id 
                                     JOIN genres g         ON g.id = gm.genre_id 
                                     LIMIT 10;
-->

## [Questão 13] Quantos usuários possuem a profissão "Student"?
<!--
SELECT oc.name, COUNT(*) FROM users u JOIN occupations oc ON u.occupation_id = oc.id WHERE oc.name = 'Student' GROUP BY oc.name;
-->

## [Questão 14] Qual são os ids dos 10 filmes mais populares?
<!--
SELECT movie_id, count(rating) as avaliacoes FROM ratings GROUP BY movie_id ORDER BY avaliacoes DESC LIMIT 10;
-->

## [Questão 15] Crie uma View com a média de avaliações de cada filme. A partir da view, quais os nomes dos filmes com maior média de avaliação? 

<!--
CREATE OR REPLACE VIEW ratings_avg AS SELECT movie_id, AVG(rating) as media FROM ratings GROUP BY movie_id;

SELECT * FROM ratings_avg ORDER BY media DESC LIMIT 20;

SELECT m.title, m.id FROM ratings_avg ra JOIN movies m ON ra.movie_id = m.id WHERE ra.media IN (SELECT MAX(media) FROM ratings_avg);
-->

## [Questão Extra] Quantos estudantes menores de 18 anos avaliaram filmes de terror ou crime
<!--
--SOLUÇÃO 1
SELECT COUNT(DISTINCT u.id) as Quantidade FROM occupations oc JOIN users u ON u.occupation_id = oc.id 
                                                                  JOIN ratings r ON r.user_id = u.id
                                                                  WHERE oc.name = "Student" AND u.age < 18 
                                                                        AND r.movie_id IN
                                                                          (SELECT DISTINCT m.id FROM movies m JOIN genres_movies gm ON m.id = gm.movie_id
                                                                                                     JOIN genres g ON g.id = gm.genre_id  
                                                                                       WHERE g.name = "Horror" OR g.name = "Crime");


--SOLUÇÃO 2
SELECT COUNT(DISTINCT u.id) as Quantidade FROM occupations oc JOIN users u ON u.occupation_id = oc.id 
                                                              JOIN ratings r ON r.user_id = u.id
                                                              JOIN movies m ON r.movie_id = m.id
                                                              JOIN genres_movies gm ON m.id = gm.movie_id
                                                              JOIN genres g ON g.id = gm.genre_id
                                                              WHERE oc.name = "Student" AND u.age < 18 AND g.name IN ("Horror","Crime");
                                                                        
-->

## [Questão Extra] Quais os nomes dos top 10 filmes com melhor média de avaliação considerando filmes que possuem mais de 10 avaliações?

### Você pode utilizar Views caso acredite ser pertinente
<!--
--SOLUÇÃO 01 - JOIN VIEWS
CREATE OR REPLACE VIEW top_movies AS SELECT movie_id, count(rating) as avaliacoes FROM ratings GROUP BY movie_id;

SELECT  m.id as id, m.title as title, ra.media as media, tm.avaliacoes as avaliacoes
FROM ratings_avg ra JOIN top_movies tm ON ra.movie_id = tm.movie_id
JOIN movies m ON tm.movie_id = m.id
WHERE tm.avaliacoes >10
ORDER BY media DESC
LIMIT 10;

-- SOLUÇÃO 02 - HAVING
SELECT r.movie_id, m.title, AVG(r.rating) as rating_avg, COUNT(r.rating) as rating_count
FROM ratings r JOIN movies m ON r.movie_id = m.id
GROUP BY r.movie_id, m.title
HAVING rating_count > 10
ORDER BY rating_avg DESC
LIMIT 10;
-->

## [Questão Extra] Quais estudantes avaliaram filmes que possuem a palavra "Man" em seu título?
<!--
SELECT DISTINCT u.id as user_id, oc.name as occupation FROM occupations oc JOIN users u ON u.occupation_id = oc.id 
                                                                  JOIN ratings r ON r.user_id = u.id
                                                                  JOIN movies m ON m.id = r.movie_id
                                                                  WHERE oc.name = "Student" AND m.title LIKE "%Man%"
                                                                  LIMIT 10;
-->

## [Questão Extra] Com base na questão 15, retorne em apenas uma consulta, todos os nomes de filmes com a maior ou menor média de avaliação.

<!--
SELECT m.*, ra.media FROM movies m JOIN ratings_avg ra ON m.id = ra.movie_id
WHERE ra.media IN
(SELECT MAX(media) FROM ratings_avg
UNION
SELECT MIN(media) FROM ratings_avg);
-->

## [DESAFIO] Como ficaria o modelo lógico do banco de dados para que fosse possível implementar a seguinte funcionalidade: "usuários podem ser amigos de outros usuários"?

## [DESAFIO] Crie comandos SQL para popular o seu banco de dados inserindo amizades entre usuários.

## [DESAFIO] Quais são os filmes avaliados pelos amigos dos amigos do usuário de id 1? 

### Se for necessário, crie comandos SQL para popular o seu banco de dados para adicionar amigos ao usuário de id 1 e outros usuários